[2019-07-05 15:34] ddymko commented on #82
@superseb

Thanks for creating the issue. We will take a look into this and get back to you!

[2019-07-07 14:57] scross01 opened #84 "vultr_firewall_rule expects protocol number"
Using terrform-provider-vultr built from latest main branch and Terraform 0.12

[code]

The `vultr_firewall_rule` example [here](https://github.com/vultr/terraform-provider-vultr/blob/master/docs/r/firewall_rule.html.markdown) shows the protocol is set with a name

[code]

But applying a config with a `vultr_firewall_rule` returns an error that the protocol should be a number. e.g

[code]

Changin

[2019-07-07 17:35] ddymko commented on #84
@scross01

Thanks for creating the ticket!

So the problem here is our doc example is showing it as "TCP" all upper case however the Vultr API requires them to be all lowercase. If you change "TCP" to "tcp" this will work.

As for the error

`Error: Err creating firewall group : Unable to add rule: Invalid protocol (must be one of 1, 6, 17, 47, 50)`

This error is returned from the Vultr API and i

[2019-07-07 18:27] scross01 commented on #84
@ddymko changing "TCP" to "tcp" gets past that error, but now I get an invalid port error:

[code]

config is:

[code]

[2019-07-07 18:38] ddymko commented on #84
@scross01

For something like SSH you do not need to define the `to_port`.  Since you are not ranging from port x to port y.

[code]

[2019-07-07 18:49] scross01 commented on #84
perfect, thanks its working now.

[2019-07-07 18:49] #84 closed

[2019-07-08 14:05] afady commented on #82
This issue was fixed in [v1.0.1](https://github.com/vultr/terraform-provider-vultr/releases/tag/v1.0.1)

[2019-07-11 05:00] 979156 opened #87 "[Feature] - timeout control for resource creation and destroying"
**Is your feature request related to a problem? Please describe.**
I was installing Kubernetes using this, and met timeout. So I wanted to extend timeout but it doesn't work.

[code]

[code]
**Describe the solution you'd like**
timeout support
https://www.terraform.io/docs/configuration/resources.html#timeouts

**Describe alternatives you've considered**
I just got rid of "/tmp/common.sh" from my

[2019-07-11 05:28] 979156 opened #88 "[BUG] - File provisioner doesn't copy my file"
**Describe the bug**
I think file provisioner is not working correctly.
When I was on #87 , my file didn't appear on my remote host.

**To Reproduce**
[code]
**Expected behavior**
1. timeout from client side
2. no such file '/tmp/common.sh'

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/46637297/61024316-30eba300-a3e

[2019-07-11 05:30] 979156 commented on #88
additional screenshot from coreos server
![image](https://user-images.githubusercontent.com/46637297/61024389-698b7c80-a3e8-11e9-9cb4-db8e112c3c5d.png)

[2019-07-11 11:38] ddymko commented on #88
Hey @979156

Thanks for creating the bug & enhancement. I'll take a look into this and see what the issue might be

[2019-07-11 14:04] ddymko commented on #88
@979156
The error you are getting with your provisioner upload is because you did not supply SSH credentials. This is why you are getting the `ssh: unable to authenticate...` error.

https://www.terraform.io/docs/provisioners/connection.html

You will need to setup your provisioner block with a connection node like this:

[code]

The output should then be similar to this

[code]

[2019-07-11 14:04] #88 closed

[2019-07-11 14:56] ddymko commented on #87
@979156

We already have timeouts set to 60 mins during the server/bare metal create & destroy process that watches for state change. Adding the timeout functionality here wouldn't add anything also the issue you were seeing here is related to #88 where the SSH connection was causing TF to stop execution.

[2019-07-11 15:08] 979156 commented on #88
@ddymko thanks for reply!

[2019-07-11 15:21] 979156 commented on #87
@ddymko thanks David, I got your point related to #88.

[2019-07-11 15:22] #87 closed

[2019-07-18 13:30] ddymko commented on #92
@stp-ip

I just submitted a pull request that address this issue

https://github.com/vultr/terraform-provider-vultr/pull/91

Once this is merged in I will cut a new release

[2019-07-23 18:14] OJFord commented on #84
@ddymko The error if `to_port` *is* specified, and is the same as `from_port` (and I guess it's the same if it's lower is very confusing:

I didn't even realise it was for ranges, I assumed both had to be specified, and that it was for translating external/internal ports. So, thanks for the fix, but the error could be clearer! 🙂

[2019-07-23 19:20] OJFord opened #95 "[BUG] - `os_id` is required; `snapshot_id` is ignored"
**Describe the bug**
If you specify a `snapshot_id` only, you get an error on a `vultr_server` resource that `os_id` is required.

If you then add `os_id = data.vultr_snapshot.mysnapshot.os_id`, the `apply` succeeds but the resulting server was not created from the snapshot, it's just the same OS as the snapshot's `os_id`, as if the `snapshot_id` wasn't specified at all.

**To Reproduce**
[code]

[2019-07-23 19:32] ddymko commented on #95
@OJFord

`os_id` is required for `snapshot`

This is due to the API design. The os_id is always required and there are special `osid` that correspond to specific types.

These are the following server options that require os_id and their corresponding value
- SnapshotID -> 164
- ScriptID -> 159 (or any os_id)
- ISOID -> 159
- APPID -> 186

So in the instance where your snapshot was not being used

[2019-07-23 19:34] OJFord commented on #95
@ddymko Ouch, I see, many thanks for the detailed explanation!

May I convert this into a feature request: `snapshot_id` implies `os_id = 164` (resp. the others)?

[2019-07-23 19:39] ddymko commented on #95
@OJFord

We actually had this implementation in place but unfortunately we had a lot of unexpected behavior with our API that caused us to remove it: https://github.com/vultr/terraform-provider-vultr/pull/91

This is definitely a pain point because of our API and we are working towards cleaning up our API and make it more robust (and remove headaches like this one)

[2019-07-23 23:07] #95 closed

[2019-08-06 18:35] OJFord commented on #95
@ddymko Thanks again for your explanation, that did work.

However, there seems to be a related issue that after `terraform apply` with `os_id = 164` and a `snapshot_id`, a subsequent `terraform plan` shows:
[code]

i.e. when it refreshes the resource from the API it gets the underlying `os_id = 244`, and thinks it needs to be changed to `164`.

Without above suggestion/#91, I think it could be fi

[2019-08-06 18:44] OJFord commented on #95
In fact, this is a show-stopper, because it means you can never `apply` again:

[code]

I'll create a separate issue.

[2019-08-06 18:50] OJFord opened #96 "[BUG] - Impossible to `apply` after creating server from snapshot"
**Describe the bug**
If a server is created from snapshot, subsequent refreshes read the `os_id` as the underlying OS in the snapshot, not the special meaning `164` (see #95 for more info), which means that a change is *always* detected:

[code]

where `244` is the underlying OS (Debian in this case) in the snapshot.

It's not good terraform practice to have spurious 'changes' like this, but it's

[2019-08-06 19:29] ddymko commented on #96
@OJFord

Thanks for catching this. This looks like one off behavior with our V1 API implementation which is causing issues. We are looking into addressing this issue.

[2019-08-06 21:15] OJFord opened #97 "[BUG] - Not handling API rate limit gracefully"
**Describe the bug**
It seems I've been playing with this provider enough to get rate-limited, and so now I can't `plan`/`refresh` at all because it hits the API faster than the hard rate-limit allows.

**To Reproduce**
Steps to reproduce the behavior:
1. Create >`N` Vultr resources
1. `terraform apply`
1. Get rate-limited to `N` requests/sec
1. `terraform refresh`

**Expected behavior**
Detects t

[2019-08-06 21:19] ddymko commented on #97
@OJFord you can set the `rate_limit` in the config

You define the time and it gets set to milliseconds. The default value is  600 milliseconds

https://github.com/vultr/terraform-provider-vultr/blob/84ec23dde2187dadeca23c4bc52e9f77cd6edd41/vultr/config.go#L46

https://github.com/vultr/terraform-provider-vultr/blob/master/docs/index.html.markdown

[2019-08-06 21:19] #97 closed

[2019-08-06 21:45] OJFord commented on #97
@ddymko Thanks, maybe `1000` is a better default? i.e. ensure that we succeed whatever the request/second limit is?

Weird that I suddenly hit this (and consistently, I tried several times) if 3r/sec is standard - I suppose my round-trip time to Vultr servers suddenly dropped enough for some reason.

[2019-08-06 21:48] ddymko commented on #97
@OJFord We beat terraform with really long build instructions we found that 650ms is the sweet spot for most cases. Also ran through the entire acceptance test suite with various timings and decided that is a good number for the default.

[2019-08-07 10:50] OJFord commented on #98
I agree that it would be better if default `connection.host = self.main_ip` (since [Terraform docs say 'This is usually specified by the provider.'](https://www.terraform.io/docs/provisioners/connection.html#argument-reference)), but you can specify this yourself:

[code]

That an empty `host` connects to localhost if `sshd` running there is 'interesting' terraform core behaviour, IMO.

[2019-08-07 11:48] ddymko commented on #98
@hadleyrich

You will need to define a connection block within your `provisioner`

[code]

[2019-08-07 18:45] hadleyrich commented on #97
I hit this also when trying to provision 5 servers, I had to increase my rate_limit config to 1500 to work around it.

[2019-08-07 18:46] hadleyrich commented on #98
Thanks for the replies guys. I guess not a bug then, I had assumed that the provider would specify it.

[2019-08-07 18:47] ddymko commented on #97
Hmmm might be a latency issue based on your locations

[2019-08-07 18:50] ddymko commented on #97
We are looking to into a possible revamp of the api "v2" which will introduce a proper oauth flow. This would also resolve a lot of inherited design choices & constraints we currently have with our API

[2019-08-07 19:25] OJFord commented on #98
@hadleyrich It should do/usually does, per core docs. I suppose it's not a *bug*, but IMO would be good to add to the provider @ddymko.

[2019-08-07 21:54] hadleyrich commented on #98
@OJFord Agreed, I've not come across it before and it would be a nice to have. Perhaps a feature request or included in documentation, rather than a bug.

[2019-08-08 12:03] ddymko commented on #98
@OJFord This isn't a bug since this is not a mandatory feature required by Terraform and there is a way to define your connection information. Also not all providers do this there are some cloud providers who do and some who don't.

@OJFord @hadleyrich I created a new enhancement ticket #100 that addresses this topic. It will set the connection information for regular instances and baremetal. This

[2019-08-09 12:47] #96 closed

[2019-08-16 11:40] ddymko commented on #102
Hey @cgriggs01 thanks for for looking into our provider and giving us some feedback!

I'll start working on the recommend changes you laid out and get back to you once these are all done.

As for that failing acceptance test maybe you could give us your thoughts on this.

The backups these run on a cron that you define (During instance creation) They also take a while for them to finish and get di

[2019-09-02 09:22] samuelchen opened #107 "[Feature] - How about list all regions"
Thanks for your all great work so that I can use terraform on Vultr!

General behavior for most providers, "data" can list all the data. e.g. `data "xxx_region" "regions" {}` will return all available regions.

But in Vultr provider, we have to add `filter` to it. Which means I can not setup up a generic step in the flow to show all available regions for current provider.

thinking there are 5 pro

[2019-09-03 18:44] cgriggs01 commented on #102
Hey!

Thanks for addressing these items and providing context around the failed acceptance test. Seem like there would have to be additional API functionality to allow TF to DELETE a backup.

One final review and we can begin the migration and release process.

[2019-09-03 18:47] ddymko commented on #102
@cgriggs01

Currently there is no API functionality to DELETE a backup. This can only be done via the UI. We will look into adding API functionality to allow for TF to delete a backup.

[2019-10-01 13:42] ddymko commented on #102
@cgriggs01

I made a change to the datasource for backups. After diving into this a bit more the original implementation for backups was the wrong approach.

Since a user can have a backup be taken everyday for X servers a user can have hundreds of given backups. To accommodate this we had changed the datasource to return back a list of backups instead of a single one.

This will address the issue

[2019-10-14 21:07] cgriggs01 commented on #102
@ddymko

Thanks for all your work so far. Everything looks great, just a few more items to complete the website docs.

- [ ] In the documentation arguments should be tagged "Required" argument if they are required.

- [ ] You should organize the objects in your resource and data source schema by type, `Required` arguments should be grouped at the top, followed by `Optional` arguments, then the `Co

[2019-10-17 18:17] ddymko commented on #102
@cgriggs01

Thanks for the feedback. I made all of the requested changes and merged them into the master branch.

I was wondering if I should cut a new release version with these changes or once the provider is migrated there is a different version that you would want to release it as?

[2019-10-21 21:12] cgriggs01 commented on #102
@ddymko

Thanks for getting those addressed. These changes should be included in the initial release of the provider!

Let me know when your ready and I'll begin the migration and release process.

Best,
Chris

[2019-10-22 13:59] ddymko commented on #102
@cgriggs01

Awesome! We would like to release as soon as we can.

I do have a few open questions

- How long does the whole process take before we would be posted as an official provider on terraform.io?
- Is there a blog post or any announcement of Vultr becoming an official provider and when would that get released?

Reason I ask is we would like to line up our own blog post article about becomi

[2019-10-22 17:07] cgriggs01 commented on #102
@ddymko

The release should be complete by the end of today. If we don't run into any issues. Once the release is complete, then the documentation will be live on terraform.io.

We have a monthly integration newsletter that highlights the newly certified Terraform providers. Beyond that, I'll have to put you in contact with our partner marketing team to discuss further.

Once this repo has been mo

[2019-10-22 17:18] ddymko commented on #102
@cgriggs01

Sounds great!

If it is alright with you would we be able to do the migration on Thursday? (I am away today/tomorrow).

As for maintainers it would be

- David Dymko  ddymko@vultr.com https://github.com/ddymko
- Fady Farid ffarid@vultr.com https://github.com/afady

[2019-10-22 17:20] cgriggs01 commented on #102
Yes, that is fine with me, we'll plan to migrate and release on Thursday.

Talk to you then!

[2019-10-24 15:17] ddymko commented on #102
@cgriggs01

Let me know when you are ready to start the migration and what is required!!

[2019-10-24 17:47] cgriggs01 commented on #102
Ready to go!

Should be straight forward, I'll move the provider code over to the new repo and then kick of the first build which will also publish the website docs. Just have to make a few internal PRs to set everything up.

[2019-10-24 17:48] ddymko commented on #102
@cgriggs01

Do you need me to to transfer this repo over to https://github.com/terraform-providers??

[2019-10-24 17:55] cgriggs01 commented on #102
No, we just do a clone and push up to the new location at https://github.com/terraform-providers/terraform-provider-vultr

[2019-10-24 17:56] ddymko commented on #102
ah - gotcha sounds good!

[2019-10-24 22:30] cgriggs01 commented on #102
Would you like to release the 1.0.4 version or bump up the version number?

[2019-10-24 22:36] ddymko commented on #102
@cgriggs01 We can bump it version v1.0.4 unless you think it would be better to do a new version since it became an official provider??

[2019-10-24 22:38] cgriggs01 commented on #102
Since you already have changes and release docs for your previous v1.0.4 release and we have a different format for the Changelog, I'd suggest we do the initial release today at v1.0.5. If its ok with you all update the changelog and publish the release

[2019-10-24 22:41] ddymko commented on #102
I was just going to suggest we do a version bump since we have changes...so an initial release of v1.0.5 would be fine.

Should I rewrite the changelog now to match the format that is used by you?

[2019-10-24 23:01] cgriggs01 commented on #102
Great, thanks.

You can reformat to the style if you'd like. Its only required moving forward because their is a bot used during the release that modifies the Changelog and publishes release tag to the repo.

[2019-10-24 23:02] ddymko commented on #102
Ah ok - so moving forward I'll make sure we just use the changelog format you guys have in place!

[2019-10-30 20:26] Obsecurus opened #1 "rate_limit does not seem to be limiting the request rate to Vultr properly preventing the use of -parallelism=24"
Vultr has a horribly slow request rate limit at 2/sec. So when using this provider driver combined with other providers or have a node count higher than 2-3 it generates rate limit errors even on `terraform plan`. You have to end up using `terraform plan -parallelism=3` so it even works slowing down your overall deployment considerably. The only workaround I have found is to add a provisioner for

[2019-10-30 20:27] Obsecurus commented on #1
so essentially the provider plugin should handle this rate limit gracefully

[2019-10-30 20:29] Obsecurus commented on #1
Found the rate_limit setting in the driver. This should probably have a default setting.

[2019-10-30 20:32] Obsecurus commented on #1
See https://github.com/terraform-providers/terraform-provider-vultr/blob/master/vultr/provider.go you can specify it in provider as rate_limit = 3.

[2019-10-30 20:58] ddymko commented on #1
Hey @Obsecurus

There actually is already a default for the rate limit which is 600ms. This is being pulled from the underlying go client `govultr`

https://github.com/vultr/govultr/blob/master/govultr.go#L19

You are also able to set your own rate_limit in the in the provider section as such

[code]
This 700 would be 700 milliseconds so if you wanted to do 3 seconds then set the rate limit to 300

[2019-10-30 21:06] Obsecurus commented on #1
@ddymko thanks for the quick reply. So even if I set it to something like:
[code]
`terraform plan -parallelism=48` or even 24 or 32 causes `Rate limit reached - please try your request again later.  Current rate limit: 3 requests/sec`

[2019-10-30 21:13] ddymko commented on #1
@Obsecurus

Are you trying to set the rate limit to 2 seconds? If so it would have to be `rate_limit = 2000`

[2019-10-30 21:19] Obsecurus commented on #1
@ddymko just trying to get it working. I have tried various tuning from -2000 - 10000. I think there might be a bug in provider.go where it is multiplying this number out so it is not actually applying the rate limit or something. I've tried -2000,100,200,500,700,2000,3000,10000. I need to slow the client down so even under parallelism is doesn't cause the rate limit reached error.

[2019-10-30 21:21] Obsecurus commented on #1
For reference:
[code]

[2019-10-30 21:22] Obsecurus commented on #1
Also the only resource I am deploying at vultr is a vultr_server with a count of 2 at each region. Each region is defined in a separate module.

[2019-10-30 21:25] Obsecurus commented on #1
This line is what I was referencing as a potential bug: https://github.com/terraform-providers/terraform-provider-vultr/blob/b8a6cb7add72061abcb59627067d748896a7fe0c/vultr/config.go#L46

[2019-10-30 21:30] ddymko commented on #1
@Obsecurus

hmmm that is odd I'll look into this and see if there is anything that isn't working properly with the ratelimit. From using it internally we haven't seen this behavior but I will dig into this for you!

The  vultrClient.SetRateLimit expects to receive a `time.Duration` and the provider takes the number you pass in and converts it to milliseconds

https://github.com/vultr/govultr/blob/

[2019-10-30 21:41] Obsecurus commented on #1
Okay. I'm not aware of a strategy to implement retries in terraform within the module other than modifying the provider plugin directly via https://www.terraform.io/docs/extend/resources/retries-and-customizable-timeouts.html

[2019-10-30 21:45] ddymko commented on #1
This is something I am looking to implement within the go client itself.

https://github.com/vultr/govultr

Reason being since the go client executes calls on our behalf it should also retry on our behalf if we hit the ratelimit. This would then be inherited into any tool/application that sits on top of the go client

[2019-10-30 21:48] Obsecurus commented on #1
Okay so sounds like the 2 issues are that rate_limit is not being applied via the vultr provider configuration and retry needs added to govultr. Can you hold this open and close once one or both of those are resolved? We're just going to have to drop Vultr as one of our providers for now until this is resolved unfortunately. Thanks for the help/info!

[2019-10-30 21:53] ddymko commented on #1
I will keep this open and use this to address any PRs ill make.

As for issues:

- The rate_limit in your case not being properly applied. Although if I set my rate_limit to `10000` it does wait 10 seconds in between calls. I will still dig into this one for you though.

- The retry to govultr is an enhancement which will improve user experience

[2019-10-30 22:05] Obsecurus commented on #1
Okay for reference this was happening with 90-180 nodes (6-12 per region) depending on my configuration and the only resource was vultr_server and the highest count was ever set to was 2 for a single vultr_server resource.

[2019-11-05 03:20] rossigee opened #2 "Unable to create `vultr_firewall_rule`."
Using provider version 1.0.5...

[code]

Referring to docs page here: https://www.terraform.io/docs/providers/vultr/r/firewall_rule.html#from_port

Example HCL:

[code]

On `terraform apply`...

[code]

Which port number is invalid? The `from_port` or the `to_port`? Both are set to 80, which is between 1 and 65535.

[2019-11-05 12:36] ddymko commented on #2
@rossigee

Thanks creating the ticket. The behavior you are running into to is a side effect of the Vultr V1 API. If you are trying to define a single port opening, in your example port 80, then you just need to define the `from_port`.

[code]

If however you would want to open open ports 80 to 85 then you would define your `from_port` (80) and your `to_port` (85)

[code]

So in your instance sinc

[2019-11-06 02:51] rossigee commented on #2
Thanks, @ddymko.

As suggested, commenting out the `to_port` allows these rules to apply as expected.

[2019-11-06 02:52] rossigee commented on #2
As well as documenting this quirk (or instead of), perhaps worth adding some code along the lines of 'if to_port equals from_port, only send from_port to API V1'.

[2019-11-06 02:56] rossigee opened #3 "Custom import for `vultr_firewall_rule`."
While importing firewall rules, I get the following error:

[code]

I'm quite sure the firewall group and rule id are correct, having checked them using `vultr-cli`. If I delete the firewall rule using the CLI or control panel, it then applies as expected.

[2019-11-06 20:44] ddymko commented on #2
@rossigee

I will create a new ticket to add an enhancement like that!

[2019-11-06 20:44] #2 closed, assigned to ddymko

[2019-11-06 23:22] ddymko commented on #3
@rossigee

I took a look into this. We don't official handle importing firewall rules - the issue you are running into is that when you try to get your firewall rules you need to pass in your firewall group id (rules live underneath groups). So when you are trying to get a firewall_rule its not getting the group id.

I ran dumped the TF logs and it is exactly that
`2019-11-06T17:51:21.529-0500 [DE

[2019-11-07 19:08] Obsecurus commented on #1
@ddymko does this mean the vultr provider just needs setup with the new version of govultr?

[2019-11-07 19:09] pgaskin commented on #1
@Obsecurus, yes, once it is released. You can also manually update it to the latest commit.

[2019-11-07 19:10] ddymko commented on #1
@Obsecurus

We are going to update terraform and run through make sure everything is working properly and then cut a release shortly thereafter

[2019-11-08 00:43] rossigee opened #5 "`vultr_ssh_key` resources modified on every run"
When I run a configuration that includes `vultr_ssh_key` resource definitions, it considers the SSH keys as having changed each time it's run, even after it's applied the (non)change from a previous run.

To elaborate, the resource definition looks like this...

[code]

When applied...

[code]
(excessive warning text about use of '-target' removed from above output)

Actual behaviour: Despite the

[2019-11-08 17:28] ddymko commented on #5
@rossigee

There is nothing that our provider (or our API) would do that would cause this kind of drift. The reason you are getting this kind of drift looks like it may be from the `<<~EOT` which is done through terraform-core. This is done through the diff process.

I also tried to see if I could replicate your issue and created this resource block

[code]

I would uncomment/comment one or the ot

[2019-11-11 22:14] ddymko commented on #5
Spent some more time digging into this. It looks like this is more of a terraform core type scenario since we do not handle any of the logic during `apply` `plan`.

[2019-11-11 22:14] #5 closed, assigned to ddymko

[2019-11-13 13:05] zoltanpetrik opened #6 "Custom import for `vultr_dns_record`"
I've tried doing `terraform import` according to the documentation, and failed.

_I've replaced sensitive information with placeholder data._

If I execute the following command:

`vultr-cli dns record list domain.com`

I get the following correct result

[code]

So I have the ID necessary to run the `terraform import` command for the `vultr_dns_record` resource.

My `main.tf` looks like:

[code]

[2019-11-13 14:22] ddymko commented on #6
Hey @Zoltanpetrik

This issue is similar to #3

We don't official handle importing dns records. As you pointed out the domain name is not being passed to the request which is why the import does not work. This needs a custom importer which will take in the domain name and pass it off to the request.

I will convert this ticket so it can be used to track a custom import for `vultr_dns_record`

[2019-12-04 01:14] iggy opened #11 "Error when creating instance from snapshot"
The error I'm seeing:

[code]

I think the process for creating an instance from a snapshot goes through some different stages than from a normal instance creation.

It looks like the state ends up being `''` at which point, I think the provider should send a restart request to the instance and then wait for the state to be running.

I've historically been able to catch the instance and hit restar

[2019-12-04 15:44] ddymko commented on #11
Hey @iggy

This strikes me as odd even since you have to restart the box on the web UI. I am going to look into this for you and get back to you. This may be a bug that has gone unnoticed so I will dig into the API and see what is going on here.

[2019-12-04 17:14] ddymko commented on #11
@iggy

I couldn't replicate your specific issue. I created the following resource which has a basic snapshot of a 1-click lamp app we have

[code]

During the apply process the server gets blocked until it is in the proper state

[code]

I also tried doing this on my.vultr.com. The state is pending until the snapshot is fully provisioned. Then once it is in an active state I am able to take the su

[2019-12-04 18:58] iggy commented on #11
I created a snapshot of an alpine instance I created from the iso library functionality. The snapshot was created in May. It may also help to know, the instance has a btrfs root, so some of the Vultr tooling to set passwords/etc may not work properly.

The original instance (that the snapshot was created from) was a $5/mo plan (201). The one I'm creating now is also a $5/mo plan (201).

The snapsh

[2019-12-05 22:49] ddymko commented on #11
@iggy

Thanks for sharing! Since this has always been an issue for you we are going to look into the core of snapshot within Vultr. This way we can resolve the issue at the root.

[2019-12-06 21:20] iggy commented on #11
Okay. Do you need the snapshot ID? A vultr ticket from my account? etc?

[2019-12-06 21:26] ddymko commented on #11
@iggy

Do you already have an existing ticket for this? If you don't you can create one regarding how snapshots are behaving for you (need to restart etc).

[2019-12-06 21:39] iggy commented on #11
Ticket #UHS-08GYW

[2019-12-20 15:05] #11 closed, assigned to ddymko

[2020-01-01 07:51] v0112358 opened #13 "Enable private networking via Terraform"
Hi, While creating private networks I got the following error message:

[code]
My tf code:
[code]
If I enable multiple private networks via Vultr console, tf apply is work fine as expected. I think that terraform-provider-vultr should be allowed to enable multiple private networks via Terraform (I couldn't find the resource for enable multiple private networks).

[2020-01-02 12:23] ddymko commented on #13
Hey @mrmainnet

The API doesn't support the ability to enable multiple private networks through the API. (referring to the advance section of https://my.vultr.com/networks/).

To allow this we would have to update the core API to make this possible. We are in the early stages of designing a V2 of the API and allowing to enable/disable multiple private networks would be a welcome addition!

[2020-01-08 08:00] rossiV1 opened #14 "Help on remote-exec"
Hi. while trying to use provision remote-exec, i came to this error.

vultr_server.my_test: Still creating... [5m50s elapsed]
vultr_server.my_test (remote-exec): Connecting to remote host via SSH...
vultr_server.my_test (remote-exec):   Host:
vultr_server.my_test (remote-exec):   User: root
vultr_server.my_test (remote-exec):   Password: false
vultr_server.my_test (remote-exec):   Private key: fal

[2020-01-08 09:47] rossiV1 commented on #14
i have found a solution for this. for host paramer

[2020-01-08 09:47] #14 closed, assigned to nobody

[2020-01-10 18:38] devicenull opened #15 "Update docs for dns_domain"
https://www.terraform.io/docs/providers/vultr/d/dns_domain.html

server_ip is also a required argument

[2020-01-10 18:46] devicenull commented on #15
nm, wrong resource

[2020-01-10 18:46] #15 closed, assigned to nobody

[2020-01-10 22:04] devicenull opened #16 "Don't detach networks when destroying a server"
https://github.com/terraform-providers/terraform-provider-vultr/blob/b8a6cb7add72061abcb59627067d748896a7fe0c/vultr/resource_vultr_server.go#L597

Destroying a server should automatically detach any private networks that were attached.  Doing this before destroying just slows everything down.

[2020-01-13 13:31] ddymko commented on #16
@devicenull

Previously we had an issue where through the API we had intermittent issues where the networks would not detach on destroy so we put this in place to mitigate that.

I'll take some time to test and verify that issue is no longer happening.

[2020-01-14 17:00] devicenull opened #17 "TTL is ignored on record creation"
Given this:
[code]

The TTL is not getting set properly on record creation, which leads to terraform destroying and recreating the record on every apply

[2020-01-14 17:38] #17 closed, assigned to nobody

[2020-02-01 20:01] bovarysme opened #18 "Add the ability to set reverse DNS entries for IPv4 and IPv6 addresses"
Hello,

Thank you for developing an in-house Terraform provider and working through the process to make it official! It's one of the reasons why I switched from another cloud provider.

Right now, the only feature missing for my use case is the ability to set reverse DNS entries for IPv4 and IPv6 addresses. It seems like these options are not supported by `govultr`'s `ServerOptions` struct, and wo

[2020-02-03 14:50] ddymko commented on #18
Hey @bovarysme

So the there is ability to do this via the API and in GoVultr:

https://www.vultr.com/api/#server_reverse_set_ipv4
https://www.vultr.com/api/#server_reverse_set_ipv6

https://godoc.org/github.com/vultr/govultr#ServerServiceHandler.SetReverseIPV4

So we could add this in as a feature. This may be added in as its own resource/datasource as opposed to adding it into the serverOptions.

[2020-02-22 16:58] ddymko opened #21 "Update to terraform-plugin-sdk"
Migrate over to the new Terraform Plugin SDK

https://www.hashicorp.com/blog/announcing-the-terraform-plugin-sdk
https://www.terraform.io/docs/extend/plugin-sdk.html

[2020-02-24 14:30] #21 closed, assigned to ddymko

[2020-03-16 12:14] ddymko opened #24 "Server Resource to use reservedIP on created"
On server create allow users to pass in a reserved IP. This reserved IP will then be used as its main IP

see : https://www.vultr.com/api/#server_create

[2020-03-16 12:16] ddymko opened #25 "Allow ReservedIP to convert IPs"
We should allow the reservedIP resource (or a new resource entirely) to allow converting existing IP addresses to being a reservedIP.

see: https://www.vultr.com/api/#reservedip_convert

[2020-03-18 13:41] #24 closed, assigned to ddymko

[2020-03-19 12:37] #25 closed, assigned to ddymko

[2020-04-04 18:12] frafra opened #33 "terraform destroy fails if the VM was attached to an ISO"
[code]

[2020-04-06 12:39] ddymko commented on #33
Hey @frafra we will look into this

[2020-04-07 14:28] #33 closed, assigned to ddymko

[2020-05-05 14:22] Obsecurus commented on #1
@ddymko any plans to close this one out soon? Seems like the govultr fix has been merged.

[2020-05-05 14:24] #1 closed, assigned to ddymko

[2020-05-16 17:43] marrold opened #36 "Once an instance is created, it's not possible to detach the ISO"
I created a `vultr_server` with and `iso_id` defined however now the OS has been installed it's not possible to detach the ISO.

I have removed the `iso_id` from the resource but when I apply there are no actions and the ISO remains attached.

Thanks

[2020-05-18 17:41] ddymko commented on #36
Hey @marrold

This is correct the ISO remains attached and due to the manual process of ISOs there is no easy way for us to know when your ISO has finished installing for us to deatch it.

You could either detach the ISO manually or create instances with a snapshot. If this is a custom ISO you have that you are using you may want to look into using packer which allows you to create a snapshot.

[2020-06-01 19:06] smorimoto opened #40 "Add support for Object Storage"

[2020-06-02 13:22] SamWhited opened #42 "When creating domains, remove default records"
When creating a domain Vultr adds several default records (a wildcard CNAME, an MX record that probably doesn't point to your mailserver, etc.) that I would hazard a guess are unwanted 99% of the time. This means that the process for creating a new domain with Terraform either involves logging into your control panel to remove the records, or creating resources for them, importing those records (w

[2020-06-02 13:33] SamWhited opened #43 "Creating new DNS record with priority 0 does not work"
If you try to create a new DNS record with a priority of zero eg. `_caldav._tcp 0 0 0 .` to indicate that no such service exists at this domain the plugin (or maybe the Vultr API?) errors with:

If you change it to something else, eg. one, create the record, then change it back to 0 and apply again it works.

While there's no strict reason that the record has to be priority 0 (and the priority doe

[2020-06-02 13:42] SamWhited opened #44 "Inconsistent Terraform state when hitting rate limit"
If you add several DNS records to your Terraform config and apply, you will fairly quickly hit the rate limit and the apply will be canceled. However, afterwards if try to apply again you will get errors because the resources have already been created on Vultr, but not saved to the Terraform config. Because you can't import DNS records to my knowledge, the only recourse is to go in and manually re

[2020-06-02 13:51] ddymko commented on #42
We are current in the process of creating V2 of the Vultr API which will address a lot of pain points of current API behavior. One of which being the ability to create empty domains.

[2020-06-02 13:56] ddymko commented on #44
The current ratelimit on the API is less then ideal (3 r/s). One thing we have in place to alleviate the pain points with the V1 rate limit is letting you adjust the rate calls are sent and how many times a call should retry.

https://www.terraform.io/docs/providers/vultr/index.html#example-usage

Like stated in #42 we are overhauling the entire API in V2 which will also offer a more usable rate l

[2020-06-02 13:58] SamWhited commented on #44
This isn't a problem with the API, this is a problem with the Terraform plugin (although better rate limiting would be nice too :) ). Regardless of how good the rate limit is, at some point it may be possible to hit it. When this happens, the apply does not save the already applied Terraform state, which puts us in a weird state (it's not actually a race condition, I don't know why I wrote that, I

[2020-06-02 14:09] ddymko commented on #44
The problem is with the API (large portion at least)...when you create a record we do not get back the ID of that record. To get the ID of that record we then need to make a list call and loop through all the records and find the one we just created.

If the ratelimit gets hit during the list call and fails to retrieve the list of Records we then get stuck in a state where the record was created b

[2020-06-02 14:13] SamWhited commented on #44
I see, that makes sense, so you'd have to actually loop again (after already hitting the rate limit) before you could even save it to the terraform state. Thanks for your help.

[2020-06-02 14:20] ddymko commented on #44
Correct - this and other behavior the current API has is why we are working on a V2 right now.

[2020-06-02 14:20] #44 closed, assigned to nobody

[2020-06-03 13:04] #43 closed, assigned to ddymko

[2020-06-03 16:34] #40 closed, assigned to ddymko

[2020-06-04 12:55] SamWhited opened #47 "Creating A record makes domain unmanaged by Terraform"
To reproduce create a new domain in the Terraform config and apply. Now login and remove all the default records in the UI. Then create an A record in the Terraform config and apply.

The domain is no longer recognized as the same one, and terraform can't recreate it because it already exists. You have to go through and manually use `terraform state rm` to remove every domain individually (because

[2020-06-04 13:35] ddymko commented on #47
related to #42

[2020-06-04 13:36] ddymko commented on #42
closing in favor of 47

[2020-06-04 13:36] #42 closed, assigned to nobody

[2020-06-04 13:37] SamWhited commented on #42
Ah okay, I wasn't sure if these were actually the same problem. Thanks

[2020-06-04 13:40] ddymko commented on #47
@SamWhited

I'll work on a patch to get this behavior squared away. I'll make the `server_ip` an optional field which if omitted will create the domain and then clear out all of the records. I'll also remove the current dependency on `server_ip` on the domain read.

These changes should then offer the same experience we will have in v2 (and other providers)

[2020-06-04 13:45] SamWhited commented on #47
Thank you so much for your time; if there's any way I can help, please let me know!

[2020-06-04 15:32] ddymko commented on #47
@SamWhited

I just pushed up a PR that will allow you to create empty zones. If you want would want to pull down the PR and test (in addition to the code review + testing that we will do) that would be greatly appreciated

[2020-06-11 13:08] #47 closed, assigned to ddymko

[2020-06-12 06:18] iggy opened #50 "DNS functionality should retry API calls"
I'm not sure if this is a matter of vultr's DNS API being eventually consistent or what, but I'm having a hell of a time doing anything meaningful with the vultr provider and DNS.

If I create a new domain with some records, the new domain creates, but terraform then complains it can't add the DNS records and exits.

[code]
If I then immediately retry the apply, it finds the domain and creates the

[2020-06-12 12:10] ddymko commented on #50
@iggy There already is retry logic in place
https://www.terraform.io/docs/providers/vultr/index.html#argument-reference

The issue is similar to what is described here:
https://github.com/terraform-providers/terraform-provider-vultr/issues/44#issuecomment-637559740
https://github.com/terraform-providers/terraform-provider-vultr/issues/44#issuecomment-637567868

We first create the record but the A

[2020-06-12 17:37] #50 closed, assigned to nobody

[2020-06-17 12:04] #6 closed, assigned to ddymko

[2020-06-17 12:04] #3 closed, assigned to afady

[2020-07-13 23:49] davidsbond opened #54 "Object storage resource documentation"
I wanted to terraform my vultr object storage but couldn't tell if it was supported or not without looking at the plugin code.

It looks like https://www.terraform.io/docs/providers/vultr/index.html doesn't have any documentation yet for the object storage resources.

[2020-07-14 00:21] ddymko commented on #54
Hey @davidsbond object storage is supported.

Looks like the sidebar is missing the object storage links but you can access them here for now
https://www.terraform.io/docs/providers/vultr/d/object_storage.html
https://www.terraform.io/docs/providers/vultr/r/object_storage.html

Thanks for pointing this out we'll get this squared away!

[2020-07-14 14:50] davidsbond commented on #54
Thanks! Am enjoying using Vultr!

[2020-07-15 15:39] davidsbond opened #55 "Object storage bucket resource"
Using this provider plugin I can enable object storage. However, it does not seem to have any resources for creating the individual buckets themselves? This means that while I can enable the storage I still have to create buckets manually.

Is there a plan to add a resource for this?

[2020-07-15 16:03] ddymko commented on #55
We are looking into adding support for interacting with buckets but we do not have a set release on this

[2020-07-29 11:29] gszathmari commented on #18
+1

[2020-08-20 14:51] #54 closed, assigned to nobody

[2020-08-20 15:02] davidsbond opened #58 "[BUG] - ddos_protection does nothing when set"
**Describe the bug**
I want to enable DDOS protection on a production server via terraform. When I set the `ddos_protection` flag on the `vultr_server` and run `terraform apply` it does not appear to enable DDOS protection

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `vultr_server` resource via terraform without `ddos_protection` set
2. Update the `vultr_server` resource so `ddos

[2020-08-20 15:31] ddymko commented on #58
@davidsbond There currently is no call in v1 to update an instance with DDOS once it has been created.

We will have to add in API functionality to allow enabling/disabling of DDOS protection for existing instances in v1.

Once these new API calls have been published I will update govultr and then update terraform to support this.

[2020-08-26 16:26] #58 closed, assigned to ddymko

[2020-08-27 14:33] #36 closed, assigned to ddymko

[2020-08-28 14:49] #18 closed, assigned to ddymko

[2020-09-07 22:47] sc0rp10 opened #63 "[Feature] - Implement vultr_regions datasource that returns all datacenters"
It'd be nice if we can use vultr_regions that returns all available regions to use.
For example we need to deploy an instance at each available datacenter (including newly created by Vultr in advance).
Right now I using http-datasource in combination with `https://api.vultr.com/v1/regions/list` but i'm not sure about this way.
I think it might be looks like:
[code]
What do you think about it?

[2020-09-13 16:04] NickCao opened #64 "[BUG] - breaking changes in vultr_server.server.user_data encoding handling without documentation"
**Describe the bug**
The attribute vultr_server.server.user_data used to accept raw user data string without base64 encoding, while upstream changes in the govultr library changed it's behavior to accept encoded data, and the change is not reflected in documents.

**To Reproduce**
Steps to reproduce the behavior:
1. define a vultr_server.server resource
2. set it's user_data attribute to non base6

[2020-09-14 12:48] ddymko commented on #64
@NickCao

This was on oversight on our part. Thanks for pointing this out we will get it patched and we will keep behavior the same way it was.

[2020-09-14 17:51] ddymko commented on #63
Hey @sc0rp10 this isn't something we will plan on adding since like you pointed out you can use the `http-datasource` to build out the with all of the regions for you to loop through

[2020-09-14 17:51] #63 closed, assigned to ddymko

[2020-09-15 12:28] #64 closed, assigned to ddymko

[2020-10-30 23:19] nsmith5 opened #68 "[BUG] - Fedora CoreOS Ignition file doesn't work from terraform"
If I use `user_data` to supply an Ignition file for Fedora CoreOS the system doesn't boot (presumably because the ignition file is malformed). If I supply the same file in the WebUI it works and if I supply the same file to a local qemu VM it also works. I can't seem to get this to work regardless of the ignition file.

**To Reproduce**
Create a `vultr_instance` that references an ignition file

[

[2020-10-30 23:33] nsmith5 opened #69 "[Feature] - Replace instance when `user_data` changes"
**Is your feature request related to a problem? Please describe.**
In using Fedora CoreOS with vultr terraform, when I update the `user_data` with a new ignition file I don't get an updated server. Fedora CoreOS, like other user_data provisioned systems that attempt to create immutable infrastructure, only reads `user_data` on first boot. This means that you need to replace the old server with a n

[2020-10-31 01:21] nsmith5 commented on #68
I managed to get an emergency console up to debug and see the following:

![Screenshot from 2020-10-30 18-12-53](https://user-images.githubusercontent.com/12156185/97767808-dba33b80-1adb-11eb-991f-3f77152365f8.png)

As you can image... I scratched my head a bit about the first character being 'e'. Makes me think the user data is being base64 encoded. I verified this by base64 encoding my ignition

[2020-10-31 01:28] nsmith5 commented on #68
base64 encoding twice seems to be happening if I look

- [here in the terraform provider](https://github.com/vultr/terraform-provider-vultr/blob/09a16af1ef036bc7ecc7b161bf148aad88861ea9/vultr/resource_vultr_server.go#L263)
- [and then here in govultr](https://github.com/vultr/govultr/blob/83ab8ff053b3fdd9afc3d85ba186a2dd39d2fb16/server.go#L1352)

perhaps we don't need the addition base64 encoding

[2020-10-31 01:48] ddymko commented on #68
@nsmith5 thanks for looking into this.

With API V1 we made a change where it expects `userdata` to already be b64 encoded and it will reject the call if it is not b64 encoded.

We did update GoVultr to no longer b64 user data and let the API itself reject the call if it wasn't b64'd. However it looks like we missed making this change for create https://github.com/vultr/govultr/pull/73. So we are

[2020-10-31 06:23] nsmith5 commented on #68
Excellent! Thanks for the prompt response ❤️

[2020-10-31 12:11] NickCao commented on #69
This feature can actually be accomplished with a null resource.
And I've got an example here: [null resource](https://nichi.co/posts/2020-09-13-terraform-with-fedora-coreos/)

[2020-10-31 12:15] NickCao commented on #68
I've been using terraform with fcos for months without issue, and it seems that the issue arises out of no place today, so what's actually up?

[2020-10-31 15:50] nsmith5 commented on #69
Oh nice, thanks for the work around! Sounds like @ddymko is willing to change the behaviour to do this automatically, so that is exciting :D

[2020-11-09 14:15] #68 closed, assigned to ddymko

[2020-11-09 14:15] #69 closed, assigned to ddymko

[2020-11-15 00:19] aldrio opened #72 "[Feature] - Data source "most_recent" argument"
**Is your feature request related to a problem? Please describe.**
It'd be convenient if when multiple results are available from a data source we could specify we want the most recent one. Right now I have multiple snapshots with the same description and when starting a server I'd like to just be able to select the newest one.

**Describe the solution you'd like**
`most_recent` boolean argument i

[2020-11-25 11:18] bbros-dev opened #75 "[Enhancement] - vultr_plan data source is not able to be filtered"
**Describe the bug**
Currently filtering the `vultr_plan` data source returns an empty set. Terraform does [not support filtering structured lists](https://registry.terraform.io/providers/hashicorp/oci/latest/docs/guides/filters):

The Vultr provider code will need to intercept the API result set and 'flatten' it so that it can be filtered.

**To Reproduce**
Steps to reproduce the behavior:
1. The

[2020-12-01 00:05] chmln opened #77 "[BUG] - Issues attaching reserved IP to a different server"
**Describe the bug**
I've got a reserved IP:
[code]

And a server
[code]

Occasionally, when a server is destroyed and replaced with another one, I get this error:
[code]

This typically goes away on the second `terraform apply`.

**To Reproduce**
Steps to reproduce the behavior: see above

**Expected behavior**
No errors.

[2020-12-01 17:16] ddymko commented on #77
@chmln That is strange behavior....we will look into this

[2020-12-02 15:03] ddymko commented on #77
The issue here is the API is still processing the detach of the reserved_ip while TF is already in the process of trying to attach it to a new instance.

This is why when you run `terraform apply` it will run without any problems. We'll look into addressing this in the API itself

[2020-12-04 16:30] cooperaj opened #81 "[BUG] - Unable to get firewall_group"
**Describe the bug**
When running my terraform using the new v2 plugin I'm getting errors around the firewall group component (having fixed all the migration issues... you should probably document those)

**To Reproduce**
Have a firewall group config that looks like (maybe created with a prior version?)
[code]

Run `terraform apply`

See
[code]

**Expected behavior**
The apply succeeds.

**Desktop

[2020-12-04 17:19] ddymko commented on #81
@cooperaj

Is the ID for the firewall group in a UUID format or is this from an existing v1 TF build?

[2020-12-04 17:22] cooperaj commented on #81
It looks like this is an id issue. I've gone through and manually removed and reimported the groups and all the rules (as it appears the id's have changed there too) and its now working.

My issue now is that it's trying to replace all my instances because of the 'activation_email'. Which is madness as I don't care but I can't seem to have it ignore that :/

I've done the same thing and removed/re

[2020-12-04 17:37] ddymko commented on #81
Unfortunately, our V1 API was in dire need an update as it was very inconsistent, very small rate limit, among other things. Hence the big undertaking to release all new V2 tooling that utilizes the new API. So we know there is a bit of a pain having to do a large transition from v1 to v2.

If there are bugs/issues please let us know and we'll dig into them.

[2020-12-04 17:57] cooperaj opened #82 "[BUG] - Import of vultr instance does not produce valid state entry"
**Describe the bug**
I've upgraded to v2 of the provider and have been working to fix the migration issues. This last one has me a bit stumped and I've had to resort to manually editing the state file (big no no)

**To Reproduce**
1. Migrate 'vultr_server' to 'vultr_instance' in tf files.
2. Remove server from state (terraform state rm vultr_server.SERVER)
3. Import (terraform import vultr_instanc

[2020-12-04 17:58] cooperaj commented on #81
I've added what I consider to be a bug in that the import code does not create a valid state for an instance (one that will then apply without proposing changes). This can be closed though I think that the changes to ID's should probably be documented somewhere

[2020-12-04 18:05] ddymko commented on #81
Thanks! We'll look into the other ticket and we'll make some updates to the readme and some other places denoting that API v2 uses UUIDs now

[2020-12-04 18:05] #81 closed, assigned to ddymko

[2020-12-04 18:46] mamclaughlin opened #83 "Document V2 Changes"
Relates to [#81](https://github.com/vultr/terraform-provider-vultr/issues/81)

There should be documentation outlining the changes in v2

[2020-12-05 16:52] cooperaj commented on #82
It's worth noting that ssh_keys also cause a ForceNew - which I guess is right but again, the import fails to bring that info into the state so an apply will destroy a working server with that ssh_key already applied

[2020-12-05 16:55] cooperaj commented on #81
firewall rules appear to use sequential numbers (1, 2, 3 etc)

[2020-12-07 16:11] jdmulloy opened #86 "[BUG] - Unstable DNS plan output wants to create existing records"
**Describe the bug**
After painstakingly re-importing my records after upgrading the provider to the new version which uses the v2 API with UUID IDs when I run "terraform plan" I keep getting different outputs to records it wants to create that already exist in the API and in the terraform state. It seems to be randomly not finding a few of my DNS records each time. This seems to be happening more

[2020-12-07 18:05] ddymko commented on #86
@jdmulloy thanks for creating the ticket - we'll look into this

[2020-12-07 19:40] #83 closed, assigned to mamclaughlin

[2020-12-07 20:21] ddymko commented on #82
@cooperaj can you supply a `terraform plan` out?

[2020-12-07 20:50] ddymko commented on #86
@jdmulloy I can't replicate the records wanting to be recreated after an import.

I created a domain + record on v1.5.0 then upgraded to v2.0.0 and deleted the domain + record from my statefile and reimported them and finished writing the resource.

[code]
Once I added these to my resource in main.tf and reran `terraform plan` the resources matched

![Screen Shot 2020-12-07 at 3 37 49 PM](https://

[2020-12-08 15:41] jdmulloy commented on #86
I used commands like the following to import records. In most cases I also had to ```terraform state rm``` the existing state for the resource.

[code]

Versions
[code]

Plan and Trace output
https://gist.github.com/jdmulloy/e681ba24d3f58e67dd567b16f627fb6f

[2020-12-08 16:04] Oogy commented on #86
@jdmulloy Thank you for the logs - could you please confirm the `vultr_dns_record.AAAA_joeandsarah_web_vps-vu-fl-1a_jdmulloy_com` resource has been imported? The logs seem to indicate while it is present in your terraform configuration, it _has not_ been imported:
[code]

[2020-12-08 20:20] jdmulloy commented on #86
@Oogy Turns out that one wasn't in the state. Importing it fixed it, but now there are some that are in the state that it wants to create that also already exist.

[code]

[2020-12-08 20:24] jdmulloy commented on #86
I ran plan again with trace and I checked that the state does exist, but it can't find it.

https://gist.github.com/jdmulloy/75cf902cabef08f37aec61229fa6fdc3

[2020-12-08 21:04] ddymko commented on #86
@jdmulloy

Looking at the four records you provided the 1st once has a mismatched TTL

[code]

The API returns

[code]

As for the other three

[code]

They do show up in the debug logs you provided they all have have proper `200 OK` response with the right data. The other thing I see in the debug is the that the rate limit is being hit. In v1 it was 3r/s in v2 it was updated to 20r/s. Granted thi

[2020-12-08 22:37] jdmulloy commented on #86
@ddymko The rate limit thing does seem to be the culprit. Increasing the limit fixes it. Also I tried the way I used to run it with the v1 API with parallelism=1 and that works too. I had to run it that way on v1 or else it would crash due to the rate limit. It seemed like the rate limit setting for v1 at least was per thread, so even increasing it didn't help.

So it seems slowing it down fixes m

[2020-12-08 23:25] jdmulloy opened #91 "[BUG] - Terraform wants to recreate port range firewall rules"
**Describe the bug**
Terraform wants to recreate firewall rules made with a colon separated port range. I'm guessing this is because the API returns the range in the format "1000 - 2000" instead of the expected "1000:2000", which seems to be what that docs suggest. I'm not sure if the docs should be updated, the terraform provider code or the API. Probably the docs so that what's in terraform stay

[2020-12-09 02:20] derrickmehaffy commented on #13
Not sure if it's related but I can't even enable a network resource per: https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/network

[code]

Error

[code]

[2020-12-09 02:28] ddymko commented on #13
@derrickmehaffy The docs for v2 are wrong. The resource is `vultr_private_network`. We merged in a patch for this today #87

[2020-12-09 02:30] derrickmehaffy opened #92 "[BUG] - Instance auto_backup is not expected"
**Describe the bug**

Setting the instance `auto_backup` yields an error that the value is not expected.
Based on: https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/instance

Specifically:

**To Reproduce**

Attempt to set:

[code]

See Error:

[code]

Based on the Terraform plan response, it appears this variable is actually `backups`

**Expected behavior**

Terraform regi

[2020-12-09 02:35] derrickmehaffy commented on #92
Thanks @ddymko I guess I picked the wrong day to start playing with Terraform and Vultr :laughing:

[2020-12-09 02:36] derrickmehaffy commented on #13
Ah Thanks @ddymko was wondering what was going on, think I have a little work around to declare the `enable_private_network` on once instance, and declare the ids on the others.

[2020-12-09 02:39] ddymko commented on #92
@derrickmehaffy noooo! It's on us for missing some of these typos/issues in the docs from the v1 to v2 transition XD

If you find anything else or have any issues please feel free to create a ticket

[2020-12-09 02:41] derrickmehaffy commented on #92
Here or through the Vultr support portal? (And thanks for being so responsive, from one GitHub issue maintainer to another, it's nice :wink: )

[2020-12-09 02:46] ddymko commented on #92
Either or - if you create a Vultr support ticket through the portal, relating to the open source, it will eventually trickle it's way to me so whichever you feel more comfortable with. Also not a problem try my best to help.

[2020-12-09 13:21] #92 closed, assigned to ddymko

[2020-12-09 13:29] ddymko commented on #86
Glad we could resolve this! I'll probably open a new ticket for the ratelimit improvements and link this ticket back to the new one.

[2020-12-09 13:45] ddymko commented on #91
@jdmulloy this looks like it is a bug with the API as it should be returning it as colon separated. We'll patch this in API.

[2020-12-09 16:03] #82 closed, assigned to ddymko

[2020-12-09 18:06] ddymko commented on #91
@jdmulloy API has been updated to return the ports seperated by colons

Here is a snippet of my state file

[code]

[2020-12-10 13:25] #91 closed, assigned to ddymko

[2020-12-19 11:23] bbros-dev opened #98 "[BUG] - vultr_region does not return a result for a matching name"
**Describe the bug**
Filtering the `vultr_region` resource returns no matches when you use a name in the API region list:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a valid Terraform file that includes the following resource
[code]
2. Run:  `terraform init` and `terraform validate` ensure the result indicates a valid Terraform description.
3. Run: `terraform plan`
4. See

[2020-12-20 03:49] bbros-dev opened #99 "[BUG] - vultr_firewall_rule: Error: expected subnet to contain a valid IP, got: 115.169.15.121"
**Describe the bug**
When given a vlid IPv4 the  `vultr_firewall_rule` complains:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

[code]
2. `terraform plan`
4. See error:
[code]

**Expected behavior**
Valid IPv4 address should be accepted.

**Screenshots**
NA

**Desktop (please complete the following information where applicable:**
See #98

**Additional context**
NA

[2020-12-20 04:06] bbros-dev commented on #99
We believe you need to `chomp` the given input string, or some such housekeeping, before deciding to reject it.

Workaround:

[code]

Such sanitary/housekeeping work should be undertaken on all inputs before deciding to reject them - a common use case is to use Terraform in scenarios where output is passed along where such spurious non-printing characters often abound.

[2020-12-20 04:40] ddymko commented on #99
@bbros-dev We are using terraforms IPValidation which then further checks if the IP is valid v4 or v6

https://github.com/vultr/terraform-provider-vultr/blob/master/vultr/resource_vultr_firewall_rule.go#L45

I think the solution to chomp your data prior to handing it off and then having the provider run an IP validation is the best approach.

[2020-12-20 04:41] ddymko commented on #98
We'll look into this

[2020-12-20 05:23] bbros-dev commented on #99
Ack. Better to sanitize strings in one place - the vultr provider -  instead of everyone having to decorate everything with `chomp` throughout all their Vultr TF files?

[2020-12-20 06:32] evanrich opened #100 "[BUG] - plan does not accept values."
Trying to get started using this with the following resource:

[code]

Per the documentation, it says plan = id of the plan, although curling the api shows me something like this:
[code]

I have tried setting the "plan to  "400", the name, etc. and nothing works.  in the documentation, the example lists " plan = "vc2-1c-1gb", I've tried that except "vc2z", since I'm interested in high frequency, b

[2020-12-20 09:24] bbros-dev commented on #98
I think this may be a versioning issue.  Closing until we have a repro.

[2020-12-20 09:24] #98 closed, assigned to ddymko

[2020-12-20 14:13] mamclaughlin commented on #100
Hey,

Thanks for reaching out! The current version of our plugin leverages our [v2 API](https://www.vultr.com/api/v2/) which features some new naming conventions. High frequency is now "vhf", and you can find the available vhf plans [here](https://api.vultr.com/v2/plans?type=vhf).

Just swap out the plan for a v2 plan name and you should be good to go

[code]

[2020-12-20 17:04] ddymko commented on #99
@bbros-dev This will cause drift. Your statefile will have the `\n` and it is being read in from the data source and passed to the firewall resource. So if we remove any newlines in the provider any following `terraform plans/applys` will want to trigger a replacement because the local statefile will always differ from what is being received back from the API.

[code]

[code]

[2020-12-20 17:04] #99 closed, assigned to ddymko

[2020-12-20 21:22] ianbruton opened #101 "[BUG] - Connectivity to API"
**Describe the bug**
when trying to run terraform from github actions, everything works fine up until apply, then it times out (see screenshot)

everything seems to be set up correctly for terraform, it just doesn't seem to be getting access to my vultr account. I have tried running it on a github hosted runner also, but I am currently running the github runner client on a vultr host in my own acc

[2020-12-20 21:30] ddymko commented on #101
@ianbruton This looks like an issue with the vultr-provider being able to connect to the API. This seems to be more of an issue with connectivity with the GitHub Action (configuration). The terraform provider may not be getting the API key or is unable to call to the Vultr API

[2020-12-20 21:33] ddymko commented on #101
Are you able to run this terraform plan locally on your machine? Not entirely sure what the issue could be here apart from configuration on the CI causing issues.

[2020-12-20 21:51] ianbruton commented on #101
I am running it in github actions, which is running it on a vultr server in my vultr account. The plan is successful, just not the apply

![image](https://user-images.githubusercontent.com/4050482/102725239-a49c1a00-4315-11eb-8876-74f0aecf4a61.png)

[2020-12-20 21:54] ianbruton commented on #101
so the runner is already inside the vultr network

[2020-12-20 23:34] ianbruton commented on #101
a few more things that I have tried
- allowing any ipv4 address to use the api key.
- recreated the workspace in tf cloud
- ensured workspace was set to local deployments (plan and apply run on my server, not theirs)
- double checked all the tokens are the correct ones
- double checked the github config

the error never changed

I tried to have a look in other vultr account settings and server set

[2020-12-21 05:02] evanrich commented on #100
@mamclaughlin  thanks!  will the documentation for the provider be updated to reflect this?  Thanks!

edit:  the link you provided is much more helpful than the terraform provider docs I found via google.

[2020-12-21 05:07] #100 closed, assigned to mamclaughlin

[2020-12-21 08:35] schmaxit opened #102 "[BUG] - Activation email sent even if "activation_email = false""
Setting `activation_email = false` inside a `vultr_instance` resource block does not prevent activation email being sent.

Version info
[code]

[2020-12-21 14:14] ddymko commented on #101
Thanks for the testing info.

The only suggestion I can think of right now is bumping the retry limits to something a bit higher such as

[code]

[2020-12-21 14:19] ddymko opened #103 "[Feature] - RateLimit"
We should look into the bumped ratelimit as it still causes issues for some larger builds

#86

[2020-12-21 14:19] #86 closed, assigned to ddymko

[2020-12-21 14:24] ddymko commented on #102
Thanks for creating the ticket - We'll work on getting this resolved

[2020-12-21 19:03] ianbruton commented on #101
Just gave this a shot, no luck

[2020-12-21 19:18] ddymko commented on #101
Could you share your entire TF plan? Maybe this can shed some light as to why this is failing for you

[2020-12-21 19:20] ianbruton commented on #101
![image](https://user-images.githubusercontent.com/4050482/102814576-25691d80-43cb-11eb-8943-11b2d3ceedcb.png)

[2020-12-21 19:31] ddymko commented on #101
could you provide the `.tf` file so I can copy it and run it myself?

[2020-12-21 19:45] ianbruton commented on #101
It is not all in one file in my project, but I don't think it would matter, I put it all in one file here for the sake of simplicity

[2020-12-21 20:02] ianbruton commented on #101
Also, I have tried manually performing an api call with my token on the runner host, and it works as expected, so the server has access to the API

[2020-12-21 20:11] ddymko commented on #101
Thanks, I'll try to dig into this for you

[2020-12-21 20:18] ianbruton commented on #101
if you need any more info just let me know, I am free to share my screen on a call even if that helps (not sure if that is something you guys do) Just let me know.

[2020-12-21 20:21] ianbruton commented on #101
also, thank you very much for taking the time

[2020-12-23 21:37] x70b1 opened #104 "[BUG] - docs of instance_ipv4 are unclear"
**Describe the bug**
I looked at the [Resources/instance_ipv4](https://github.com/vultr/terraform-provider-vultr/blob/master/website/docs/d/instance_ipv4.html.markdown
) docs.

For me it looks like a copy of `vultr_reverse_ipv4`. I guess the work is not finished on that page? Header and content are similar.
Also its not clear what `instance_ipv4` should do. I think it should add a new ipv4 address

[2021-01-03 23:47] ianbruton commented on #101
Hi, did you have any look digging into this at all?

[2021-01-04 14:23] dR3b opened #105 "Argument Reference - name - (Required) Name (subdomain) for this record."
I cannot create a CAA entry because the "name" field is mandatory:
[code]
But it is not. What am I doing wrong?

https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/dns_record

[2021-01-04 14:44] ddymko commented on #104
@x70b1 `instance_ipv4` lets you attached another (or multiple) IPv4 address to your instance.

Both instance ipv4 and reverse ipv4 will return similar data but the docs have typos in them. We will update the docs to clear up the confusion

[2021-01-04 14:46] x70b1 commented on #104
Awesome, thanks! :heart:

[2021-01-04 14:50] ddymko commented on #101
@ianbruton I can not find the root cause as to why your github actions are failing.

If you are able to make API calls locally with your API key then this leads me to believe there is something wrong with the runners.

The only other place where the API might cause issues is in the allow/deny list for IPv4 and IPv6 addresses
https://my.vultr.com/settings/#settingsapi

[2021-01-04 15:56] ddymko commented on #105
@dR3b The TF you have is valid but there is an issue with the Go client this provider is using to interact with Vultr.

It is omitting the `""` in the request to the Vultr API - we will update govultr to allow `""` in the requests and then update the dependency on TF which will fix this issue.

[2021-01-04 19:05] #102 closed, assigned to mamclaughlin

[2021-01-04 19:05] #105 closed, assigned to ddymko

[2021-01-05 05:53] dR3b commented on #105
Thank you!

[2021-01-05 17:07] #104 closed, assigned to ddymko

[2021-01-15 21:56] EuAndreh opened #110 "[BUG] - snapshot_id isn't a valid UUID"
**Describe the bug**

Using `snapshot_id` on a `vultr_instance` gives a 400 API response with the message `Invalid UUID format.`.

I couldn't find a better identifier value for the snapshot to replace it with. The same `snapshot_id` worked with version 1.5.0, so I guess this is related to the 1.5.0 -> 2.1.2 version upgrade.

**To Reproduce**

Working declaration:

[code]

Troublesome declaration:

[2021-01-15 22:03] EuAndreh commented on #110
I was able to get the UUID behind the previous `snapshot_id`:

[code]

This is undocumented, though.

Also: the way to correlate the `snapshot_id` with the UUID was by the `description` field. The new UUID isn't tied to the previous `snapshot_id`. It worked for me, but may be a bigger issue for someone else.

[2021-01-15 22:03] #110 closed, assigned to ddymko

[2021-01-15 22:10] EuAndreh commented on #110
Well, this is not actually true. It is documented on https://www.vultr.com/api/v2/#operation/list-snapshots

I got frustrated with getting stuck on this, and as is was non-obvious I exaggerated towards undocumented.

A fairer description would be non-obvious, or a bit hidden.

[2021-02-12 00:29] shamblesides opened #114 "[BUG] - Error: error creating server: gave up after 4 attempts, last error unavailable (resp == nil)"
**Describe the bug**
I was able to use the terraform provider to create vultr instances a few days ago but now it doesn't seem to work. I get the error in the title consistently.

[code]

**To Reproduce**
I'm not sure how to reproduce it, sorry. It's still happening on my machine.

**Desktop (please complete the following information where applicable:**
 - OS: Xubuntu 20.04
[code]

**Additional co

[2021-02-12 06:27] shamblesides commented on #114
Sorry, this was actually related to my own config, and not even really related to vultr. Specifying the api_key in the vultr provider using ~ won't work. Also I had a newline in my file that had the key in it. Maybe there's better ways to store and specify the API key anyway so I think I'm going to have to learn more about terraform... sorry for the noise!

[2021-02-12 06:27] #114 closed, assigned to ddymko

[2021-02-16 13:50] filipetoscano opened #115 "[Feature] - Ability to change user_data without instance replace"
**Is your feature request related to a problem? Please describe.**
Changing the `user_data` field in a `vultr_instance` resource forces an instance replacement, as seen in the screenshot below:

![image](https://user-images.githubusercontent.com/290602/108071781-0c44bc00-705e-11eb-8600-9a7a70879bee.png)

Note: We're currently using `user_data` as a replacement for generic key/value tuples (ie, lab

[2021-02-16 14:37] ddymko commented on #115
@filipetoscano

Thanks for creating the ticket but this isn't something we will implement. Originally the `user_data` behavior was not to replace upon changes however with https://github.com/vultr/terraform-provider-vultr/issues/69  https://github.com/vultr/terraform-provider-vultr/issues/70 we changed this so that any changes to user-data would replace the instance.

[2021-02-16 14:37] #115 closed, assigned to ddymko

[2021-02-16 18:55] filipetoscano commented on #115
Hi @ddymko

Ok, fair enough if somebody else is already depending on a specific behavior (ie, to force their instance to be reconfigured). I assume that I could "repurpose" this field based on the documentation.

As per https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/instance#tag:
Generic data store, which some provisioning tools and cloud operating systems use as a confi

[2021-02-16 19:07] ddymko commented on #115
@filipetoscano

Adding in a new field isn't something we are considering at the moment.

One solution you could possible use is passing in a URL to the user-data which would contain your metadata.
An example would be storing your K/V in a object storage bucket and passing that URL to your instances. This would then allow you to update and configure your metadata separately from your instance

[2021-02-19 23:36] siffland opened #117 "[BUG] - Issue adding DNS TXT record for Mail Delivery"
**Describe the bug**
Attempting to add a TXT DNS record to vultr for spf mail record (as described by fastmail, and i can enter this manually on vultr's website as a record).  Applying the code gives the following error:

[code]

**To Reproduce**
Resource in my tf file
[code]
Terraform apply results
[code]

**Expected behavior**
Expected a TXT record to be created with the proper data

**Desktop (

[2021-02-19 23:43] siffland commented on #117
I guess this isn't a bug, I was able to add the TXT record with the following code below.  If this is the expected behavior this ticket can be closed.

[code]

[2021-03-10 03:55] crouthamela opened #119 "[Feature] - Support setting backup schedule during instance creation"
**Is your feature request related to a problem? Please describe.**
When creating an instance, it would be great to set the backup schedule at the same time.

**Describe the solution you'd like**
An argument or series of arguments for vultr_instance related to backup configuration to match the v2 API: https://www.vultr.com/api/#operation/create-instance-backup-schedule

[2021-03-19 09:36] kidmis opened #120 "[BUG] - Plugin upgrade from v1 to v2"
**Describe the bug**
Seems there is no automatic way to convert state files during plugin updrade from v1 plugin to v2. Could you clarify what is the correct way for this?

**To Reproduce**
Steps to reproduce the behavior:
1. set `version = ">= 2.1.3"` in required_providers directive
2. do "terraform init"
3. do "terraform plan"
4. getting lots of errors regarding invalid resource type (due to syn

[2021-03-19 12:23] ddymko commented on #120
@kidmis There is no way to automatically convert v1 to v2.

There are a lot of changes from v1 to v2 and this is due to the Vultr API changing from v1 to v2
https://github.com/vultr/terraform-provider-vultr/blob/master/example/V2Changes.md

This would be a manually process of updating your `.tf` file and `import`ing all of your existing resources. You could do this in the existing `.tf` or create

[2021-03-23 03:49] wastrachan opened #121 "[BUG] - Conflict between vultr_instance.reserved_ip_id and vultr_reserved_ip.attached_id"
**Describe the bug**
When an instance is created with `reserved_ip_id` set, future terraform runs will attempt to detach the address from the instance.

**To Reproduce**
Steps to reproduce the behavior:

Assuming the following `vultr_reserved_ip` (note the absence of `attached_id`):
[code]

Assuming the following `vultr_instance` (note the presence of ``
[code]
1. With the following two resources,

[2021-03-23 12:28] ddymko commented on #121
@wastrachan

Thanks for creating the issue. You are correct there is a clash between the two resources that has users be in a loop of inconsistent state.

We will look into this for you.

[2021-03-23 13:01] #121 closed, assigned to ddymko

[2021-03-24 15:20] #120 closed, assigned to ddymko

[2021-03-30 02:02] lcmartinezdev opened #124 "[Feature] - Support for darwin_arm64"
I tried to use this provider with my Macbook Pro Apple M1  then I got this error:

Error: Incompatible provider version

Provider registry.terraform.io/vultr/vultr v2.1.4 does not have a package
available for your current platform, darwin_arm64.

Provider releases are separate from Terraform CLI releases, so not all
providers are available for all platforms. Other versions of this provider may
hav

[2021-03-30 12:07] ddymko commented on #124
@lcmartinezdev thanks for creating the issue.

I'll look into seeing what is required for us to have the Terraform registry hand off m1 binaries

[2021-03-30 14:29] ddymko commented on #124
@lcmartinezdev

We had bumped the provider to build _drawin_arm64_ in the latest release: https://github.com/vultr/terraform-provider-vultr/releases/tag/v2.2.0

[2021-03-30 14:29] #124 closed, assigned to ddymko

[2021-03-30 15:12] lcmartinezdev commented on #124
So fast!
Thank you!
@ddymko

[2021-04-05 13:14] johnrichardrinehart opened #127 "Bad error message"
https://github.com/vultr/terraform-provider-vultr/blob/495ed5febc181da59bad097c2f59e15b95e1b4e3/vultr/resource_vultr_instance.go#L436

Should the error message read "error attaching" not "error detaching"?

[2021-04-05 13:20] ddymko commented on #127
@johnrichardrinehart yeah, the message should say `error attaching` since the call is for `client.Instance.AttachISO`

[2021-04-05 14:07] johnrichardrinehart opened #128 "Detach ISO on deletion"
**Describe the bug**

Admittedly, I'm filing this as a bug when it might be considered a feature request.

I have a custom ISO that I use to start new VMs. Sometimes, I replace this ISO and want the associated machines re-started using the new ISO. This isn't possible with the current terraform provider because the ISO is still attached to a running machine. So, I have to either:
1) Use the web in

[2021-04-05 14:15] johnrichardrinehart commented on #127
Submitted #129 .

[2021-04-05 14:15] #127 closed, assigned to nobody

[2021-04-05 14:17] johnrichardrinehart commented on #128
You can see this file for the behavior I'm talking about.

https://github.com/johnrichardrinehart/infrastructure/blob/main/vultr.tf#L29

[2021-04-05 14:50] ddymko commented on #128
@johnrichardrinehart Thanks for taking the time to write up the ticket.

I don't think any warnings/prompts may be necessary.  To me it seems that the easiest approach to this would be to issue a detach if the current ISO has changed. Then watch the detach/iso status so we know once the ISO has fully detached and attach the new one.

Also, really appreciate you taking the time to make these enhanc

[2021-04-05 14:57] johnrichardrinehart commented on #128
Hey, not a problem - more thanks for taking the time to read it.

So, if a managed `vultr_iso` resource is removed/changed then we detach the ISO from all `vultr_instance` resources which have attached it (restarting them)? This is a disruptive change since the VM will need to be restarted. Are you sure it's not something worth warning/prompting about?

Note that the Vultr official HTTP(s) API (`v

[2021-04-05 15:28] ddymko commented on #128
We had similar discussions about ISOs before https://github.com/vultr/terraform-provider-vultr/issues/36. If I recall correctly this and a few other reasons are why we didn't expand functionality with ISOs.

Now, that you created this ticket we are thinking about ISOs again and think that maybe the best solution here is what was laid out.

As for the warning you have a valid point that we could st

[2021-04-05 15:52] johnrichardrinehart commented on #128
Yeah, the API doesn't support something like "force detach", which makes it a bit awkward.

Fair enough. I'll get to work on this.

Alright, PR is forthcoming.

[2021-04-06 12:58] johnrichardrinehart commented on #128
Is the best place for this logic in [govultr](https://github.com/vultr/govultr) or in this repo?

I'm thinking of implementing this "detach ISO then delete ISO" behavior in `govultr` since this behavior is more desirable than just for `terraform` users. Also, using something like a `https://api.vultr.com/v2/instances/{instance-id}/iso/detach?force=true` flag in the HTTP(s) API is pretty natural.

[2021-04-06 13:23] ddymko commented on #128
I am leaning towards keeping this in the terraform repo. We want to keep govultr as 1-1 as possible with the API.

This isn't something we can add which is why we have the `iso status check call`. Like I said before there are various reasons why we didn't expand a lot of the ISO behavior in TF.

I think the best path here is to have TF issue a detach and then watch the ISO state if the ISO has bee

[2021-04-06 16:27] johnrichardrinehart commented on #128
Fair enough.

Okay, I see.

Oh, awesome. I was implementing refresh-checking manually. [This](https://github.com/vultr/terraform-provider-vultr/blob/778dfe52802503fff406cbf5ded21d62ce05a66a/vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource/state.go#L11-L36) is much better. Thanks for pointing me to this.

[2021-04-12 15:05] ddymko commented on #117
@siffland This is expected behavior as the API didn't enclose the string you supplied. However we are making an update to the API which will wrap the supplied `data` in quotes so you won't have to escape them

[2021-04-12 15:21] #117 closed, assigned to ddymko

[2021-04-18 13:46] johnrichardrinehart commented on #128
@ddymko I've submitted https://github.com/vultr/terraform-provider-vultr/pull/131 in light of this discussion.

It's not very beautiful, but it seems to do the job. I'm sure we'll want to refactor/clean up some things. We can use the PR discussion to guide the end result and close this issue once the PR is merged/aborted.

[2021-04-27 10:38] grant-veepshosting commented on #119
+1 for this feature, would be amazing. Happy to help out wherever possible, testing, feedback, etc.

[2021-04-27 12:04] ddymko commented on #119
@crouthamela @grant-veepshosting

I think the best approach here would be to create a `resource_vultr_backup`. We have some pending changes that would have to go out in a new release, v2.3.0, so we'll work on getting this new resource packed for that version.

I would say targeted release for v2.3.0 would be middle/late next week.

[2021-04-27 22:25] grant-veepshosting commented on #119
Thanks for the fast turnaround on an update and expected next steps @ddymko .
A related request, albeit much more minor: on 'vultr_instance::instance::backups' parameter, can this be converted to a Boolean? Previously tested with this value set to "true" which failed silently (no backups on created resource), then found the correct value was "enabled" instead. Could also accept "yes", "1", etc...

[2021-04-27 23:49] ddymko commented on #119
@grant-veepshosting I don't want to deviate TF, GoVultr, and the API too much with their respective fields and don't want to introduce a breaking change if it can be avoided.

What we can do here is two things

1. Have TF validate and only accept  `enabled` or `disabled` as valid fields.
2. Update the API to also have better validation of this field since if you are passing in garbage strings it s

[2021-04-28 00:12] crouthamela commented on #119
Great news, thanks for developing this!

[2021-04-28 00:14] grant-veepshosting commented on #119
Both recommendations make sense. 1. so it errors instead of failing silently; and 2. In case of any other automation tooling making a similar mistake.

[2021-04-28 00:17] ddymko commented on #13
Closing this as `Error: Error creating network: Not currently enabled on your account, enable on https://my.vultr.com/networks/` is no longer a behavior on Vultr. There are just `private networks` on your account don't need to enable anything anymore.

[2021-04-28 00:17] #13 closed, assigned to ddymko

[2021-04-28 16:07] johnrichardrinehart commented on #128
Closed with merge of #131.

[2021-04-28 16:07] #128 closed, assigned to ddymko

[2021-04-28 16:07] johnrichardrinehart commented on #55
@ddymko Would you accept a PR for this?

[2021-04-28 16:11] ddymko commented on #55
@johnrichardrinehart Yeah definitely!

I haven't had time to sit down and implement this. For the bucket interaction we would have to use https://github.com/aws/aws-sdk-go

[2021-04-28 16:15] johnrichardrinehart commented on #55
[I see](https://www.vultr.com/docs/how-to-use-s3cmd-with-vultr-object-storage). I'll work on implementing this over the next week.

[2021-04-28 16:26] johnrichardrinehart commented on #16
@devicenull It seems that the code you linked does exactly what you want (namely, automatically detaches any private networks that were attached), but maybe I'm misunderstanding what "[disable](https://github.com/hashicorp/terraform-provider-vultr/blob/b8a6cb7add72061abcb59627067d748896a7fe0c/vendor/github.com/vultr/govultr/server.go#L525)` means, in this context.

@ddymko It seems that this metho

[2021-04-28 16:50] ddymko commented on #16
@johnrichardrinehart you are looking at an old archived repo.

This is for the current TF provider
https://github.com/vultr/terraform-provider-vultr/blob/master/vultr/resource_vultr_instance.go#L444

The reason we have the detach prior to deletion is to prevent a race condition on TF if you are trying to also delete the private network that it is attached to.

To avoid any issues like this we deta

[2021-04-28 16:50] #16 closed, assigned to ddymko

[2021-04-28 17:12] johnrichardrinehart commented on #16
Ah, yeah, I didn't notice it was the Hashicorp repo.

It seems to me that @devicenull wants exactly what's already being done, which is to detach a private network when a server is being deleted (similar to ISOs being detached on ISO deletion).

But, maybe that's why you closed the issue.

[2021-04-29 05:02] amjanoni opened #132 "[BUG] - Please upload select a valid ISO or specify a valid iPXE Chain URL"
**Describe the bug**
The message Please upload select a valid ISO or specify a valid iPXE Chain URL appears when I try to create an Instance using the PXE startup script, the ID that the vultr_startup_script brings appears to be not valid if I check the payload in browser I see another type of ID being passed to Vault API.

**To Reproduce**
Steps to reproduce the behavior:

[code]

If you check th

[2021-04-29 12:19] ddymko commented on #132
@amjanoni Thanks for creating the ticket. We'll look into this.

[2021-04-29 15:39] ddymko commented on #132
@amjanoni There was an issue with the API which we have patched. I just copied and pasted your .tf file and it ran fine.

Would you mind trying again?

[2021-04-29 16:05] ddymko commented on #119
quick update - the API has been updated to rejected requests if backups aren't `disabled` or `enabled`

[2021-04-29 18:25] amjanoni commented on #132
It's working now, thanks you!

[2021-04-29 18:25] #132 closed, assigned to ddymko

[2021-04-30 03:05] grant-veepshosting opened #133 "[Feature] - Allow Private Network to attach to Instances, like Block Storage, instead of vultr_instance private_network_ids"
**Is your feature request related to a problem? Please describe.**
Building a Terraform module, and private networks are optional and only used in some specific use cases. When building the "Compute" (Vultr Instance) portion of the module, it's not currently easily possible to have -
1. Optional Data Lookup (this MUST have a value, doesn't work for Optional resources):
data "vultr_private_network"

[2021-04-30 13:07] ddymko commented on #133
@grant-veepshosting

Just going to go over everything in order

This will turn `null` into `"null"` and then add it to the array which will give you with what you have below.

      + "null",
    ]

This will fail as you are passing in a string of null as an element to the array. If you want to pass in a truely nil value it would have to be `[]` or `private_network_ids = []`. Go will read this as

[2021-05-02 20:22] grant-veepshosting commented on #133
Thanks for the feedback on this @ddymko. We are still facing some challenges with this, namely even with manual dependency satisfaction (build a private network using tf, use the network .id as an output variable as input for the compute module), we are seeing "var.private_network_ids is empty tuple" "Inappropriate value for attribute "private_network_ids": element 0: string required.". Trying to

[2021-05-02 20:53] ddymko commented on #133
@grant-veepshosting could you give us the .tf file you have defined? This will make it easier for us to dig into this for you

[2021-05-02 21:01] grant-veepshosting commented on #133
@ddymko of course, thanks very much - your input is deeply appreciated.
https://github.com/Veeps-Hosting/terraform-terragrunt-vultr/blob/main/compute/vars.tf
https://github.com/Veeps-Hosting/terraform-terragrunt-vultr/blob/main/compute/main.tf

[2021-05-03 23:37] ddymko commented on #133
Thanks for sharing - I'll try to dig into this for you sometime this week.

[2021-05-03 23:39] grant-veepshosting commented on #133
Thanks - please prefer Release 1.2 as we're still developing on the Master branch. Release 1.2 is the closest we had it to both working for 1 scenario, and not for the other, reliably.

[2021-05-04 13:54] Oogy commented on #133
@grant-veepshosting looking at the `v1.2` code its not clear to me why this would not satisfy both cases of an instance being created with and without a private network. If the variable contains a populated list, the instance is attached to the listed networks. If the argument is not used, and left with the default of `[]` it will be ignored and the instance will not attach to any networks.

Could

[2021-05-04 17:13] ddymko commented on #119
@crouthamela @grant-veepshosting

Had to change from the original proposal of having a separate `backups_schedule` resource. This would have caused a few issues with how we handle state.

The way it is implemented now will be part of the instance resource

[code]

If `backups` are set to enabled then `backups_schedule` needs to be be defined.

[2021-05-05 06:45] grant-veepshosting commented on #133
Thanks for looking into this @Oogy.
Given the original request isn't technically possible (or at least, advisable), I'll close this for now and raise a new Issue with succinct steps to reproduce in the next couple of days.

[2021-05-05 06:45] #133 closed, assigned to ddymko

[2021-05-07 15:41] ddymko commented on #119
Just an update.

We planned on doing a new TF release for the backups today. However we have just released new updates to our load balancers (private networks and firewalls). So we decided to push back the release to next week. This way we can package all of the updates from backups, load balancers, and various others we have staged in a single release.

[2021-05-11 14:06] ddymko commented on #119
Hey all,

We just released v2.3.0 which has the `backups_schedule` support. I'll keep this ticket open for a bit longer in case any questions pop up we can use this thread.

[2021-05-12 00:44] crouthamela commented on #119
Thank you!

________________________________
From: David Dymko ***@***.***>
Sent: Tuesday, May 11, 2021 10:07:15 AM
To: vultr/terraform-provider-vultr ***@***.***>
Cc: Andrew Crouthamel ***@***.***>; Mention ***@***.***>
Subject: Re: [vultr/terraform-provider-vultr] [Feature] - Support setting backup schedule during instance creation (#119)

Hey all,

We just released v2.3.0 which has the backups_

[2021-05-12 02:03] grant-veepshosting commented on #119
Works like a charm!

[2021-05-17 01:16] #119 closed, assigned to ddymko, mamclaughlin

[2021-05-19 00:36] grant-veepshosting opened #139 "[Feature] - In place plan upgrade"
Via the web interface, in-place upgrades are possible to higher level plans, where capacity exists to support this.
Currently when trying to change the plan via the Terraform code, it will attempt to delete and re-create the instance instead.
Is it possible in place upgrades can be supported via API and Terraform, where capacity exists, to match the web interface functionality?

[2021-05-19 01:20] ddymko commented on #139
@grant-veepshosting The API already supports this within the `update instance` call https://www.vultr.com/api/#operation/update-instance by supplying a new plan it will`Upgrade the instance with this Plan id.`

As for terraform I believe this is something we can do. I'll spend some time looking into this and see what will be the best way forward.

[2021-06-06 19:33] ddymko commented on #139
@grant-veepshosting Just pushed up a draft PR that removes the `force_new` on plan changes and allows inplace upgrades. We are going test this a bit more and look at a few other options. If you want to test it out yourself and if you have any feedback let me know.

[2021-06-13 18:40] lae commented on #77
I'm experimenting with an instance that has a floating IP and consistently running into this. Seems like it's been a while - is it still being addressed?

[2021-06-22 02:03] grant-veepshosting commented on #139
@ddymko can we re-open this one please?

We have done some testing, and although the upgrade works as expected it does not update the data in the Terraform state information, meaning subsequent 'terraform plan' operations fail or try to repeat the upgrade action.

Examples of values not upgraded include plan, bandwidth, memory, etc.

[2021-06-22 02:27] ddymko commented on #139
@grant-veepshosting I am not sure why the state isn't updating.

After the update call finishes the read call should go through and update all of the values but for some reason that isn't happening.

If I force a read `terraform refresh` it gets the data without issue. I'll look into this.

[2021-06-22 02:35] ddymko commented on #139
There is a delay in the API responses that is causing drift - I'll work on getting this fixed .

[2021-06-24 13:29] ddymko commented on #139
@grant-veepshosting We had to add in a custom wait for upgrade plans...the API delays the response. Which is why we didn't notice the 1st time around. I'll be cutting a release with these changes today/tomorrow.

If anything else comes up let me know!

[2021-07-07 09:06] KalinaLadnay opened #148 "[BUG] - If you add a new ssh_key_id to resource "vultr_instance" , instance will be recreate"
**Describe the bug**
I deploy an instance using terraform provider "vultr". If the instance has already been created, I can't add a new ssh key without recreating my VM.
[code]

**Expected behavior**
Strangely, adding a new ssh key leads to recreating an instance. Can you describe this behavior in terraform-provider-vultr's documentation because it's essential and not expected behavior.
Maybe you

[2021-07-07 11:10] ddymko commented on #148
Hey @KalinaLadnay

This behavior is correct as the Vultr API only allows ssh keys to be added during creation. In terraform we have a `force new` flag set on SSHKeys which will delete the existing instance and redeploy a new one.

We do have one note on sshkeys stating that they can only be used on `installs`
https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/instance#ssh_ke

[2021-07-07 11:10] #148 closed, assigned to ddymko

[2021-07-17 22:34] #139 closed, assigned to ddymko

[2021-07-20 15:28] invoco opened #151 "[BUG] - vultr_reserved_ip documentation issue"
The example in the documentation for _vultr_reserved_ip_ shows this example usage:

[code]
But _attached_id_  is wrong, should be _instance_id_ as specified in the Argument Reference.

[2021-07-21 12:38] #151 closed, assigned to ddymko

[2021-07-25 19:02] mkeen opened #153 "[BUG] - TXT vultr_dns_record entries are modified on every plan/apply"
**Describe the bug**
When managing a `vultr_dns_record` of type `TXT`, running plan always indicates that the resource will be modified. My state is clean and the resource exists in vultr.

**To Reproduce**
**Terraform:**
[code]

**No-op planned update:**
The data is indicating a change will be made, even if I apply it and then re-run plan.
[code]

**Expected behavior**
I would expect that once th

[2021-07-26 18:46] ddymko commented on #153
@mkeen to prevent the drift from happening for now is to do `data   = "\"v=spf1 mx -all\""`

We'll take a look at the API + Terraform to see if we can resolve this

[2021-07-26 20:16] eradman opened #154 "Add provider for OpenBSD"
This is my first attempt at using the  OpenBSD 6.9 amd64 with terraform 0.14.9

[code]

[2021-07-28 13:08] ddymko commented on #153
Hey @mkeen

This is current API behavior where the TXT record needs to be enclosed in quotes. So the API is doing this for you which is why you are seeing the drift.

We are exploring some options to clean this up and make it a better experience.

[2021-07-29 12:37] tmickel opened #156 "[BUG] - Importing vultr_bare_metal_server resource forces replacement due to enable_ipv6"
**Describe the bug**
Hello. I'm a new Vultr customer and created a bare metal resource in the web panel yesterday. Today I tried to import it into a new Terraform configuration, but Terraform wants to force replacement of the server due to what looks like a bug. Is there any way to work around this?

**To Reproduce**
1. Created a bare metal server in the web panel, with IPv6 enabled
2. Added a ter

[2021-07-29 12:42] ddymko commented on #156
@tmickel thanks for letting us know.

We'll look into this and see whats going on

[2021-07-30 00:18] ddymko commented on #154
We are looking to cut a new version for our provider next week. The OpenBSD releases will be included in that.

[2021-07-30 00:18] #154 closed, assigned to ddymko

[2021-07-30 00:19] #101 closed, assigned to ddymko

[2021-07-30 00:37] mkeen commented on #153
Thanks for the replies @ddymko. The suggested workaround is good 👍

[2021-08-02 15:48] ddymko commented on #156
released in https://github.com/vultr/terraform-provider-vultr/releases/tag/v2.4.0

[2021-08-02 15:48] #156 closed, assigned to ddymko

[2021-08-02 15:59] tmickel commented on #156
Thanks for the fast turnaround!

[2021-08-07 06:46] pgaijin66 opened #159 "Terraform for VULTR restoration bugs out after ~20 min waiting for resource to be active #29320"
Hello,

I am creating an instance from a snapshot. It takes around 35 min to restore VM from the snapshot. while I try to do that using terraform, it bugs out after waiting for ~20 min. Is there a workaround to increase the context deadline where we can specify if needed wait X time until the particular resource is ready?

I tried adding time_sleep and added dependency but it did not work as it di

[2021-08-07 19:53] ddymko commented on #159
@pgaijin66

Thanks for creating the ticket - not sure why you are getting the deadline errors

Our statechange has a timeout of 60 minutes : https://github.com/vultr/terraform-provider-vultr/blob/89476918172e8bd47a6809614f2027913945e6ba/vultr/resource_vultr_instance.go#L609

We'll look into this for you

[2021-08-08 23:37] CyrusJavan commented on #159
TF SDK sets a default 20 minute timeout on the context.Context that it passes to CRUD operations, https://discuss.hashicorp.com/t/default-context-timeouts-for-v2-sdk-crud-operaitons/24702/2?u=cyrusjavan.

[2021-08-13 14:04] #159 closed, assigned to ddymko

[2021-08-23 11:56] pgaijin66 commented on #159
Thanks for resolving this issue.

[2021-11-07 19:39] gruberdev opened #168 "BUG | Resource vultr_kubernetes outputs non-readable kube_config value"
## **Description**
When provisioning Kubernetes resources using Vultr's provider, if you try to output the resulting `kube_config` file to access the cluster, it returns a huge single unintelligible hash with no information whatsoever.

**To Reproduce**
Steps to reproduce the behavior:

<details>

<summary><code>main.tf</code></summary>

[code]
</details>

<details>

<summary><code>variables.tf</c

[2021-11-08 01:03] ddymko commented on #168
@gruberdev

The `kube_config` value is actually the admin kubeconfig base64 encoded. If you base64 decode it you will have the full config.

Looks like we missed adding this bit of info to the Terraform docs. We'll get that patched up.

[2021-11-09 00:41] #168 closed, assigned to ddymko

[2021-11-09 07:33] derust opened #170 "cloudinit not working"
can cloudinit works like aws ec2?

[Provision Infrastructure with Cloud-Init](https://learn.hashicorp.com/tutorials/terraform/cloud-init?in=onboarding/tfcb-week-6)

I try this tutorial use vultr provider, but it just spawn the instance, cloudinit haven't run.

[2021-11-09 13:12] ddymko commented on #170
@derust

Not all of our images support cloud-init at the moment.

Here is a list of which images currently have cloud-init support : https://www.vultr.com/docs/getting-started-with-cloud-init

We are working towards updating all of the images to have cloud-init

[2021-11-09 13:12] #170 closed, assigned to ddymko

[2021-11-09 18:39] 4n70w4 opened #171 "[BUG] data "vultr_account" incorrect types"
**Describe the bug**
I get rounded values of `balance` and `pending_charges` but vultr returns its as floats.

**To Reproduce**

[code]

[code]

[code]

But `GET https://api.vultr.com/v2/account` returns:

[code]

**Expected behavior**
Get float values of `balance` and `pending_charges`.

**Desktop (please complete the following information where applicable:**
[code]

[2021-11-09 18:41] ddymko commented on #171
@4n70w4

Thanks for reporting the issue. The API does return them as floats and it looks like TF has them set as INTs. We'll patch this up

[2021-11-09 19:50] 4n70w4 opened #172 "[BUG] change hostname of resource "vultr_instance" don't affected real change hostname of instance"
**Describe the bug**
After change `hostname` argument of `vultr_instance` wasn't reinstalled instance with new hostname.

**To Reproduce**
[code]

[code]

[code]

Change `hostname = "instance${count.index}.hostname"` to `hostname = "instance-${count.index}.hostname"`

[code]

[code]

**Expected behavior**
Recreate instance with new hostname.

**Screenshots**
![image](https://user-images.githubuser

[2021-11-09 19:57] ddymko commented on #172
@4n70w4

The update call call doesn't actually look for changes to the hostname so it doesn't apply them.

we'll look into adding this

[2021-11-09 21:11] 4n70w4 opened #173 "[Feature] Get all internal ips of private network of instance"
**Is your feature request related to a problem? Please describe.**
There is currently no way to get list of all internal ips of instance via TF. `internal_ip` attribute contains only one ip if instance have only one private network. If instance have few private networks - `internal_ip` contains empty string.

**Describe the solution you'd like**
Enrichment info from `GET https://api.vultr.com/v2/i

[2021-11-10 17:46] ddymko commented on #173
We'll look into what we can do here

[2021-11-11 00:28] ddymko commented on #172
We found that our go client that is being used within terraform doesn't handle hostname updates to the API. We are working on update the underlying go client. Once that is released we'll incorporate that change here

[2021-11-14 14:26] 4n70w4 commented on #171
@ddymko May be need make release? I don't see changes =(

[2021-11-14 15:15] NotJustPizza opened #176 "[Feature] - Allow instances to attach existing block storages during creation"
**Is your feature request related to a problem? Please describe.**
I use separate projects for my block storages and instances. Project with storages needs to be created before project with instances, so it doesn't seem to be possible to use `attached_to_instance` option (from [here](https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/block_storage)) without creating dependen

[2021-11-14 15:31] ddymko commented on #171
@4n70w4 we are planning a release for this upcoming week. We have other updates we are going to package together.

[2021-11-15 14:18] chipxen opened #177 "[BUG] - Error: error getting instance"
**Describe the bug**
After manually deleting the instance in my account I have an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. From terraform create instance: terraform apply
2. Go to https://my.vultr.com/ and click "Server destroy"
3. Back to terraform and run terraform plan or terraform apply
4. See error

**Expected behavior**
Create a new server.

[2021-11-15 14:42] ddymko commented on #177
@chipxen thanks for letting us know.

We'll look into this

[2021-11-15 16:47] ddymko commented on #176
@NotJustPizza

I don't have an immediate fix for this but it's something we can def look into

[2021-11-15 16:50] ddymko commented on #177
@chipxen I submitted a fix for this issue.

We will release this as part of a larger release with other changes we have. We are aiming to have that release cut by the end of this week

[2021-11-16 12:22] CHIP0K commented on #177
thnx)

[2021-11-19 15:25] #171 closed, assigned to ddymko

[2021-11-19 15:25] #172 closed, assigned to ddymko

[2021-11-19 15:25] #177 closed, assigned to ddymko

[2021-12-05 04:25] nnhanndakara opened #183 "[BUG] - JSON parsing error for the monthly_cost field when requesting plans from the API."
**Describe the bug**

The current provider version (2.6.0) has begun having issues parsing plans with a non-int/float value for the `monthly_cost` field.

**To Reproduce**

Create a minimal terraform module:

In `main.tf`:

[code]

Then run `terraform init` and `terraform plan` as usual, filling in your key when requested.

**Expected behavior**

This module does nothing, so no changes should be s

[2021-12-05 04:49] nnhanndakara commented on #183
Ahh, well that's anti-climactic. `vendor/github.com/vultr/govultr/v2` is out of date.

Edit: Just to clarify, 2.6.0 (the current release, as tagged), and the version of `govultr` bundled with it does not work with the current output of the plans API endpoint, as some plans may have non-integer/float `monthly_cost` values. I was looking at HEAD when I noticed it appeared to have been fixed already.

[2021-12-05 06:42] nnhanndakara opened #184 "[Enhancement] - Filtering a vultr_plan on locations doesn't appear to perform a meaningful action."
**Describe the bug**

Pre-sao (the location) it was possible to filter plans using a `vultr_plan` by `type`, `ram`, and `vcpu_count` to resolve human understandable values to an ID (which, per the Terraform glossary, are supposed to be opaque.) Now with sao duplicating a significant number of plans, and with the only difference in API output being the `locations` and `monthly_cost` fields, you wou

[2021-12-05 14:02] ddymko commented on #183
@kaorihinata

Thanks for creating the ticket.

You are correct that the some plans can be floats instead of int. This was introduced with the new Brazil region with the cheapest plan being `7.5`.

We already patched this in https://github.com/vultr/terraform-provider-vultr/pull/182 and will be releasing a new version of the Terraform provider tomorrow.

[2021-12-05 14:08] ddymko commented on #184
@kaorihinata

Thanks for creating the ticket.

Similar to the other issue...with the release of the Brazil location this has introduced some changes that we are working to resolve.

We'll look into how we can resolve the plan datasource issue

[2021-12-05 14:45] nnhanndakara commented on #184
@ddymko

This would pre-exist the Brazil location as filters against arrays hasn't really been implemented in `vultr/data_source_vultr_common_schema.go` at all from what I can tell. Should I open a feature request and note that closing it would close this? Or should I open a feature request and close this? Not sure how you handle these types of conversions. I could also just leave this. Up to you.

[2021-12-05 14:47] nnhanndakara commented on #183
Yeah, I saw that after submitting this ticket. The new GitHub interface seems to switch you back from tag view easier than it used to, so while inspecting the release I was flipped back to HEAD and it looked like it should have been fixed.

Thanks!

[2021-12-05 15:24] ddymko commented on #184
We can keep this ticket open

[2021-12-06 16:29] #183 closed, assigned to ddymko

[2021-12-06 16:29] ddymko commented on #183
@kaorihinata 2.7.0 has been released

[2021-12-07 04:44] nnhanndakara commented on #184
So, not sure if you had a solution to this in mind, but for the moment I'm using this:

[code]

Is there a desired behavior you'd like? For my purposes I just need to ensure that at least 1 value from `values` occurs in the actual field referenced by `name`, but it can be trivially rearranged to require that all values occur. Was there another project whose filter behavior you wanted to mimic? Or

[2021-12-07 13:28] ddymko commented on #184
@kaorihinata most of the datasources require at least a single value to be found. If more than 1 value is found we return an error saying "please refine your search".

I would say ideally we would want to match all of the criteria someone is looking for.

If you wouldn't mind could you submit a PR with these changes?

[2021-12-07 14:55] nnhanndakara commented on #184
Sure thing. I'll swap it around to require all inputs as well.

[2021-12-08 14:12] #184 closed, assigned to ddymko

[2021-12-14 01:51] lyc0221 opened #191 "[BUG] - can't get the plan when I create a instance"
**Describe the bug**
it can't get the plan when I create a instance

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terraform plan'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information where applicable:**
 -

[2021-12-14 02:01] ddymko commented on #191
@lyc0221

Make sure you are running on version v2.7.0+
https://github.com/vultr/terraform-provider-vultr/releases/tag/v2.7.0

This introduces a fix for a change in the API which causes issues

[2021-12-14 03:52] lyc0221 commented on #191
fixed,thanks

[2021-12-14 03:52] #191 closed, assigned to ddymko

[2021-12-29 09:09] CHIP0K commented on #103
hi, I also have errors rate_limit, for a workaround I use -parallelism = 1

my code:
`provider "vultr" {
  rate_limit  = 100
  retry_limit = 3
}`

my error:
`
│ Error: error getting list of attached private networks : gave up after 11 attempts, last error: "{\"status\": 429,\"error\": \"rate limit exceeded\"}"
│
│   with module.vultr_servers_yto.vultr_instance.tf-server[9],
│   on .terraform/modul

[2022-01-27 07:55] Bager133 opened #208 "[BUG] - No ssh_keys when import vultr instance"
When I try to import vultr instance, ssh keys don't import. And if I do "terraform apply" then terraform force replace my service
CODE
![зображення](https://user-images.githubusercontent.com/38407163/151314026-f0d0f7e3-50e5-4c7f-b67c-62f6e4d026c8.png)
![зображення](https://user-images.githubusercontent.com/38407163/151314186-e0ff6924-77c1-4489-9beb-f230c13a7880.png)
tfstate
![зображення](https://u

[2022-01-27 13:45] ddymko commented on #208
@Bager133 We will look into this for you

[2022-01-27 13:48] Bager133 commented on #208
Thanks, I wait

[2022-01-27 15:24] ddymko commented on #208
@Bager133

Looking at what you posted it looks like you are encapsulating an array into another array

You have `vultr_ssh_keys = [data.vultr_ssh_key_key.prod, data.vultr_ssh_key.main_env]`

which you then pass off to `ssh_key_ids = [var.vultr_ssh_keys]`

This would translate to `ssh_key_ids = [[data.vultr_ssh_key_key.prod, data.vultr_ssh_key.main_env]]`

try just doing `ssh_key_ids = var.vultr_ss

[2022-01-27 15:45] Bager133 commented on #208
![зображення](https://user-images.githubusercontent.com/38407163/151392715-c88b693e-03c2-437c-a6cb-d538d8c389b9.png)
![зображення](https://user-images.githubusercontent.com/38407163/151392972-01d9010a-bfd1-44e2-aab0-fea432afec05.png)

[2022-01-27 17:41] ErwinsExpertise commented on #208
@Bager133

It looks like you are attempting to append the entire vultr_ssh_key data object to the list. The ssh_key_ids argument reference expects the id's of the ssh key rather than the entire object. If you adjust the code to this it should work:
`vultr_ssh_keys = [data.vultr_ssh_key_key.prod.id, data.vultr_ssh_key.main_env.id]`

[2022-01-28 07:37] Bager133 commented on #208
Thanks for an answer. Really missed it, though...

[2022-01-28 07:37] Bager133 commented on #208
![зображення](https://user-images.githubusercontent.com/38407163/151506299-404f4926-6433-49b2-94b6-ffe73913079c.png)

[2022-01-28 14:45] Bager133 commented on #208
Why did you close? I am waiting for a solution. I don't need forces replacement

[2022-01-28 14:48] ddymko commented on #208
@Bager133 Updating SSH keys on an existing instance will force a replacement. You can't add new ssh keys to existing server

[2022-01-28 14:59] Bager133 commented on #208
I know. That's why I ask why the existing keys are not imported when imported

[2022-01-28 15:15] Oogy commented on #208
@Bager133 Now that the structure of the value provided to `ssh_key_ids` is correct, please try removing the instance in question from the Terraform state, and re-importing.

[2022-01-28 15:33] Bager133 commented on #208
I did it :)
I did it many times, tried many options, but the result is always the same - the keys are not imported

[2022-01-28 16:01] ddymko commented on #208
@Bager133 reopening I misunderstood the initial problem

[2022-01-28 16:05] Oogy commented on #208
@Bager133 Thank you for bringing this to our attention, it appears the issue is that SSH Keys are not present in the [get-instance](https://www.vultr.com/api/#operation/get-instance) Vultr API response resulting in the observed diff.

This will require further investigation. In the meantime, I believe the following workaround should prevent forced replacement:

[code]

[2022-01-28 16:14] Bager133 commented on #208
I also thought to do so, but as a last resort, if I can not find how to import keys. I hoped that there should be a way to import the instance in full

[2022-02-02 07:43] denisse-dev opened #209 "Terraform 1.1.4 error creating server: gave up after 4 attempts, last error unavailable (resp == nil)"
**Describe the bug**
Hello, I'm using Terraform v1.1.4 and Vultr provider 2.9.0. When trying to deploy a Vultr instance using Terraform I keep getting the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project following the [Vultr provider documentation](https://registry.terraform.io/providers/vultr/vultr/latest/docs#example-usage).
2. Execute `terrafor

[2022-02-02 13:17] ddymko commented on #209
hey @da-edra do you mind supplying your full `.tf` file?

[2022-02-02 13:44] denisse-dev commented on #209
Hi @ddymko , thanks for the quick reply, here's the `.tf` file causing the issue:

[code]

[2022-02-02 13:52] ddymko commented on #209
@da-edra

Thanks for sharing - I can't replicate this using the `.tf` you provided.

Can you confirm that your API key has allowed access to IPv4 and Ipv6?
https://my.vultr.com/settings/#settingsapi

[2022-02-02 14:05] denisse-dev commented on #209
I can confirm my API key is accessible from IPv4 and IPv4 addresses.

I also tried regenerating my API key and using a VPN in case my IP was rate limited or something but I'm still unable to deploy an instance using Terraform. My API key works with `vultr-cli` so it's definitely not an authentication or authorization issue.

Another thing is that I get the same error when trying to deploy any othe

[2022-02-02 14:10] ddymko commented on #209
[code]

hmmm...we'll have to poke around and see what the disconnect here is. Nothing stands out that would cause the ratelimiter to be hit.

[2022-02-02 14:19] Oogy commented on #209
@da-edra Please run the apply again and provide us with the Terraform debug logs. This requires setting the following environment variables before running terraform:
[code]
Then provide us with the contents of `tf-provider-vultr-issue-209.tflog`.

[2022-02-02 14:22] denisse-dev commented on #209
Hi @Oogy , I pasted the log contents in a [gist](https://gist.github.com/da-edra/06f7c806c17e93e943f44fe2b7095f36)

Thank you!

[2022-02-02 15:53] Oogy commented on #209
@da-edra We are working on a new builds of `govultr` and `terraform-provider-vultr` with better error handling so we can see whats going on here. We will provide an update soon.

[2022-02-02 15:54] denisse-dev commented on #209
Thank you very much, Oogy.
I appreciate it. ☺️

[2022-02-02 18:05] Oogy commented on #209
@da-edra The new builds have been released, please upgrade the Vultr Terraform Provider to `v2.9.1` and re-run the apply with debug logs.

[2022-02-05 21:41] denisse-dev commented on #209
Thank you very much for the patch! Messages are more useful now.

This is the error I get:

[code]

Here's a new revision of the logs: [tf-provider-vultr-issue-209-2.tflog](https://gist.github.com/denisse-dev/8abf58dd6488a69cae56eda98c25ca63)

I can confirm that I can use Vultr's API from the command line.
I deployed an identical instance without issues:

[code]

[2022-02-07 17:42] Oogy commented on #209
@denisse-dev It appears your system is attempting to perform a DNS lookup to your local DNS server(perhaps systemd-resolved?) over IPv6. Please check your DNS configuration(`/etc/resolv.conf`), you may need to remove the IPv6 nameserver or make sure that your DNS server is listening on IPv6 at `::1`.

Using the API from the CLI with curl is working because you are not specifying IPv6 to curl, it w

[2022-02-07 21:27] denisse-dev commented on #209
Thanks a lot for your help Oogy and ddymko, I really appreciate your commitment with improving your tools and providing great support!

Closing this as it was indeed `systemd-resolvd`. :)

[2022-02-07 21:27] #209 closed, assigned to ddymko

[2022-02-12 17:15] NotJustPizza commented on #176
@ddymko Any update or ETA? This issue turned out to be biggest wall preventing me from doing more advanced setups that require storage blocks under Vultr.

[2022-02-12 18:07] ddymko commented on #176
@NotJustPizza

I haven't had a chance to find a proper solution to this. Introducing a new field on instances where instances would make a underlying call to attach itself to block storage would cause drift on that given block resource. The same would be said for a `vultr_volume_attachment` this would cause drift against the block resource.

I would like to support this without having to remove ex

[2022-02-16 11:48] c12i commented on #208
I am also experiencing this, any updates?

[2022-02-16 12:13] Bager133 commented on #208
I do with  ignore_changes

[2022-02-16 13:15] ddymko commented on #208
@collinsmuriuki @Bager133

It's recommended to go with `ignore_changes` for the time being.

We will have to look at the API and see if we can return SSH keys on the instance calls.

[2022-02-16 18:34] Oogy commented on #176
@NotJustPizza Hello! Could you please elaborate on the requirement for storage to be created before instances? Since nothing could be done with storage until attached to an instance, it seems the dependency should be the opposite.

I would just like to understand the use case better and if I'm missing something, thanks!

[2022-03-07 00:41] robcxyz opened #215 "Allow more than 1 "node_pools" blocks for "vultr_kubernetes""
**Is your feature request related to a problem? Please describe.**

In the UI you are allowed to add more than one node pool for a VKE cluster but when using the terraform resource "vultr_kubernetes", I get this error when applying multiple.

`No more than 1 "node_pools" blocks are allowed`

**Describe the solution you'd like**

Allow more than one "node_pools" blocks to be specified.

**Describe

[2022-03-07 01:31] ddymko commented on #215
@robcxyz For additional nodepools you have to use vultr_kubernetes_node_pools.

https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/kubernetes_node_pools

[2022-03-07 12:56] #215 closed, assigned to ddymko

[2022-03-14 03:21] bryanherger commented on #55
A workaround is to use a "minio" provider to create an S3 bucket resource.  This example main.tf worked for me:

[code]

[2022-03-26 16:47] egeexyz opened #224 "[BUG] - Updating hostname causes the instance to reinstall without warning"
**Describe the bug**
Updating an existing server's hostname causes Vultr to reinstall a/the OS on the server but the Terraform plan does not in any way indicate this destructive procedure (the plan actually says "will be updated in-place" instead of "force replacement"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vultr_instance
2. Update the host name
3. Review the plan
4. Apply

[2022-03-26 17:48] ddymko commented on #224
@egee-irl

We have updated the docs to be more clear that changing the hostname will reinstall the OS.

You mentioned

This is where things get a bit tricky. The update is "in place" it's modifying the current resource all of the IP information etc stays the same. Despite the core platform doing a reinstall.

What we could do is specify `forceNew` on the hostname field but this would then have Ter

[2022-03-26 18:07] egeexyz commented on #224
Perfect, thank you!

[2022-03-28 12:26] #224 closed, assigned to ddymko

[2022-03-30 01:17] jtackaberry opened #227 "[Feature] - First VKE node pool should be deletable"
From the console, when I add a second node pool, I'm able to delete the first.   However, when the cluster is created via Terraform, the first node pool is considered special and, near as I can tell, it can't be deleted.

The main use case is migrating the cluster to a new instance type.  Normally you'd add the second node pool with the desired instance type, migrate the workloads over, then delet

[2022-03-30 01:37] ddymko commented on #227
@jtackaberry

There are certain limitations that terraform has that lead to the design. Mostly around not being to nest map data that well. This is why node pools are broken up with one being required while others being separate resources (which was something I wanted to avoid but there is no great way to handle it).

That being said I'll look into how we can update the provider to not have a hard

[2022-04-13 19:25] fhisamoto opened #231 "[Feature] - Allow autoscale the node quantity in `vultr_kubernetes_node_pools`"
The [vultr api allows create or update k8s node pools](https://www.vultr.com/pt/api/#operation/create-nodepools) with desired quantity within `(min_nodes, max_nodes)` range. Would be awesome if I could do the same with terraform. So the `vultr_kubernetes_node_pools` could be written

[code]

and `vultr_kubernetes` would be

[code]

[2022-04-14 01:52] nnhanndakara opened #232 "[BUG] - Status 401 from the Kubernetes API being misinterpreted by the provider as a disappearing resource."
**Describe the bug**

It appears that a status 401 response from the Kubernetes API (stemming from an attempt to access the API from an unauthorized IP address) is being interpreted by the provider as a resource being "not found." This results in Terraform believing that the cluster has disappeared outside of Terraform when it has not.

I believe the culprit is that any error is currently being as

[2022-04-14 02:06] ddymko commented on #232
@kaorihinata That is exactly what is happening. Any none 2xx response comes back as an error which would trigger the `d.SetId("")`.

We'll look into addressing this

[2022-04-14 02:07] ddymko commented on #231
@fhisamoto we'll look to get this added into the next TF release

[2022-05-10 22:41] #231 closed, assigned to ddymko

[2022-05-11 14:37] #227 closed, assigned to ddymko

[2022-05-11 17:21] ddymko commented on #232
released in https://github.com/vultr/terraform-provider-vultr/releases/tag/v2.11.0

[2022-05-11 17:21] #232 closed, assigned to ddymko

[2022-05-12 13:27] NicolasCARPi opened #252 "[BUG] - Cannot remove deprecated "tag" property from state"
**Describe the bug**
My instance created 3 years ago from the web interface had the "Mail" tag. Now on terraform I imported it and use the new `tags` property, which is an array/list.

The problem is that the `tag` property is not removed/cleared, so every plan will have this:

![2022-05-12-151358_536x109_scrot](https://user-images.githubusercontent.com/3043706/168084475-c7878560-9f03-44be-ba5f-8c

[2022-05-12 15:20] ddymko commented on #252
@NicolasCARPi We'll look into this for you

[2022-05-12 22:29] ddymko commented on #252
@NicolasCARPi

This is an issue with the underlying go client. It doesn't allow emptying out the tag field.

As a workaround now you can remove the tag in your TF file along with removing the tag from my.vultr.com and then run `terraform refresh`

[2022-05-13 07:24] NicolasCARPi commented on #252
@ddymko

The `tag` is not present in the `.tf` file. I tried pulling the state, emptying manually the `tag` value from the json state file and pushing back the state to terraform cloud. But a subsequent run still wants to empty the `tag`.

Problem is the tag is not visible in the web interface. Only the new style tags are present. So I cannot remove it from web interface.

This command is deprecat

[2022-05-13 11:46] ddymko commented on #252
@NicolasCARPi

Thanks for the info!

I went ahead and made https://github.com/vultr/govultr/issues/221 which once resolved we'll cut a new release of govultr and then update TF.

This will resolve the problem and allow for setting `""` on tag.

I was also thinking about a possible workaround for you. The APIv2 still has the ability to remove `tag` the field wasn't removed just deprecated. You can

[2022-05-13 12:43] NicolasCARPi commented on #252
:+1:

Your workaround worked!

This is what I did (for anyone else encountering this issue):

[code]

And now it doesn't try to empty it at each run :tada:

Side note, the documentation is using `tag` instead of `tags` in the curl example:
![2022-05-13-135652_285x217_scrot](https://user-images.githubusercontent.com/3043706/168285365-24c5af77-a589-4eb2-9b76-c91911ac17d7.png)

Thank you very much @d

[2022-05-13 12:53] ddymko commented on #252
@NicolasCARPi glad to help

Ah, thanks for pointing out the API docs example! We'll patch that as well.

[2022-05-16 17:04] fhisamoto opened #254 "[BUG] - `vultr_kubernetes` data is unavailable when updating the node_pool."
Given I'm configuring the k8s cluster and helm provider as bellow:

[code]

when using vultr provider `2.11.0`
and changing, for example, the node quantity to `3`
Then I get the following error:

[code]

Looks like the data resource is unavailable when updating the `main` node pool.

Is this my code problem or a bug?

[2022-05-16 17:18] ddymko commented on #254
This looks like a problem.

Can you confirm that your kubeconfig is working if you use it on its own?

[2022-05-16 18:17] fhisamoto commented on #254
I'm able to get the cluster credentials using the code above when the `vultr_kubernetes` resource is untouched.

[2022-05-16 18:19] ddymko commented on #254
@fhisamoto The kubeconfig is available on the resource https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/kubernetes#kube_config

Is there a reason you create a Kubernetes resource and then pull it down from a datasource?

[2022-05-16 18:22] fhisamoto commented on #254
Let me test. I didn't notice that.

[2022-05-16 18:26] fhisamoto commented on #254
works with the resource's `kube_config`. Thank you very much.

[2022-05-16 18:26] #254 closed, assigned to ddymko

[2022-05-18 15:15] #252 closed, assigned to ddymko

[2022-05-24 22:04] jugglinmike opened #259 "[Feature] - Data source for object storage clusters"
**Is your feature request related to a problem? Please describe.**

The `vultr_object_storage` resource requires an argument named `cluster_id`, but I have no means to select a value.

**Describe the solution you'd like**

A new data source for object storage clusters would let me derive an appropriate value based on criteria which are meaningful to my project:

[code]

**Describe alternatives you

[2022-06-06 09:51] NotJustPizza commented on #176
Hello @Oogy and @ddymko! Sorry for very late response! I didn't use Vultr for ages now, but I recently returned to give it another try, so it would be great to have this case solved :)

Reason behind my request is quite simple, I want ability to create compute instances on demand using Terraform while preserving some data between sessions in storage. Currently if you want to delete instances witho

[2022-06-13 11:18] danielfdickinson opened #266 "[BUG] - Typo in vultr_instance documentation"
**Describe the bug**
backups_schedule supports the following:
    [type](https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/instance#type) - Type of backup schedule Possible values are `daily`, `weekly`, `monthly`, `daily_alt_event`, or `daily_alt_odd`.

should read

backups_schedule supports the following:
    [type](https://registry.terraform.io/providers/vultr/vultr/lates

[2022-06-13 13:07] optik-aper commented on #266
Thanks!  We'll get that fixed.

[2022-06-14 18:59] #266 closed, assigned to optik-aper

[2022-06-29 08:41] tomasbasham opened #270 "[Feature] - Allow Instances to be updated with new IP reservation"
**Is your feature request related to a problem? Please describe.**

I am currently unable to assign a previously reserved IP address to a running instance without it needing to be recreated. This seems quite unnecessary whilst I am able to do exactly what I require through the Vultr web UI. It seems the issue however is more related to the Vultr API rather than the provider exclusively and must fi

[2022-06-29 12:14] optik-aper commented on #270
Thanks for the request.  I don't see any reason why it is set to force replacement so I'll test it out and fix this for the next release.

[2022-06-30 19:43] optik-aper commented on #270
@tomasbasham After some review, I see the rationale of what's going on with the reserved IPs.  The [instance routes](https://www.vultr.com/api/#tag/instances) currently don't allow an update to `reserved_ip` after creation.  That said, there is a resource for the reserved IPs so perhaps you can do what you want using it.  For example:
[code]

Then if you want to create a new reserved IP and attach

[2022-06-30 19:53] tomasbasham commented on #270
Ah I had not noticed you can set the VPS instance on the reserved IP resource itself. If that is the case then that may solve my issue. Thanks

[2022-06-30 19:55] optik-aper commented on #259
@jugglinmike Apologies for the delay on this.  I've logged an issue and we'll review the request as time allows.  Thanks for reaching out.

[2022-07-01 09:13] NickCao opened #271 "[INFO] - canonicalize IPv6 address for better interop with other providers"
**Is your feature request related to a problem? Please describe.**
This is not a real feature request, but a dear reminder for whoever stuck with the same problem as I do.

The problem is all IPv6 addresses returned by the vultr api is in exploded form (see [ipaddress.IPv6Address.exploded](https://docs.python.org/3/library/ipaddress.html#ipaddress.IPv6Address.exploded) for definition of *exploded*

[2022-07-01 12:16] optik-aper commented on #271
Thanks for the info!  We'll consider changing the API at some point but it's not likely in v2 since it would be a pretty significant breaking change.  Thanks for sharing your work around.  If it increases interoperability, perhaps we'll bake the canonicalized version into the Terraform provider.

[2022-07-01 12:17] optik-aper commented on #270
No problem!

[2022-07-01 12:17] #270 closed, assigned to optik-aper

[2022-07-03 13:22] voxxit commented on #168
@ddymko One suggested addition: an example of exactly how one might use `base64decode` or similar to decode then use it, say, in the `helm` provider after initial cluster creation. I'd like to be able to build/test/teardown in a single terraform run, and that would be an awesome addition to get me started quickly!

[2022-07-24 22:32] ddymko commented on #259
@jugglinmike @optik-aper

Pushed up a PR that will add in a datasource to look up the object storage clusters

[2022-07-25 13:24] optik-aper commented on #259
@ddymko Awesome, thanks!  I'll get it merged.

[2022-07-25 16:21] #259 closed, assigned to optik-aper

[2022-08-21 14:04] fredriklindberg opened #281 "[BUG] - Upgrade of K8S cluster not possible through provider"
**Describe the bug**
A change to the K8S version of a deployed cluster causes a re-creation of the cluster rather than triggering a cluster control plane upgrade. The full state of the existing cluster is lost.

This makes it impossible to control the version of upgrades through the terraform.

**Provider version: 2.11.4**

[code]

**To Reproduce**
1. Create and deploy a K8S cluster using the `vul

[2022-08-22 12:50] optik-aper commented on #281
Thanks for the report.  That definitely needs to be fixed.

[2022-08-23 16:55] baznikin opened #282 "[BUG] - K8s node pool plan do not changed"
**Describe the bug**
I change node type (plan) provider shows reasonable plan, successfully applied it, but nothing happens. Nodes remains same.

[code]

Next run show same plan, no changes in web-interface either.

[2022-08-23 19:44] optik-aper commented on #282
Thanks for the report.  It looks like the intention here might be to replace the node pool since the API doesn't support changing the node pool type ([documentation](https://www.vultr.com/api/#operation/update-nodepool)).  I'll test that out and see if it's something we can support in the terraform provider at least.

[2022-08-23 22:33] optik-aper commented on #282
After messing around with this a bit more, I think it's more complicated than I initially thought--especially for a cluster that has an existing workload.  The general advice/best-practice is to spin up a new, larger-sized node pool, drain the workload on the old one, make sure the new node pool is working then remove the smaller, obsolete node pool.  Doing all of that in the terraform provider is

[2022-08-24 05:46] baznikin commented on #282
DigitalOcean provider in same situation mark cluster for recreation. It is
sane and expectable behaviour. First thought was "wow, they spin up new
cluster and migrate old one to it node by node!...". Simple recreation is
OK too since there is manual loss-free procedure exists.

ср, 24 авг. 2022 г., 2:33 Michael Riley ***@***.***>:

[2022-08-26 16:32] Routhinator opened #285 "[Feature] - Support SOA settings for vutlr_dns_domain"
**Is your feature request related to a problem? Please describe.**
There is support for managing SOA settings for a domain via the Vultr API, but this configuration is not yet manipulated by the provider.

**Describe the solution you'd like**
I would like the SOA settings to be added to the [vultr_dns_domain](https://registry.terraform.io/providers/vultr/vultr/latest/docs/resources/dns_domain) res

[2022-08-26 17:11] optik-aper commented on #285
This looks like it should be possible.  We'll look to support it in a data source & resource where appropriate.

[2022-08-27 05:29] hazrin-techie opened #286 "[BUG] - Error getting 'block storage' and 'reserve ip'"
**Describe the bug**
After manually deleting the 'block storage' and 'reserved ip'  in my account I have an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using terraform to create 'block storage' and 'reserved ip': terraform apply
2. Go to https://my.vultr.com/blockstorage/ and manually delete the block storage
3. Go to https://my.vultr.com/network/#network-reservedips and ma

[2022-08-30 20:24] optik-aper opened #287 "[BUG] - Reserved IPs generating duplicate IPs when using `count` resource option"
**Describe the bug**
When using `count` option in terraform config, sometimes the created IPs are duplicated.  This problem doesn't occur when using the `-parallelism=1` flag with the `terraform apply`

**To Reproduce**
TF config
[code]

**Expected behavior**
2 unique reserved IPs should be created

**Screenshots**
![image](https://user-images.githubusercontent.com/8485770/187536108-c695ce3a-44a8-

[2022-08-31 23:14] grant-veepshosting opened #288 "Bare Metal Provisioning Configure Software RAID1"
In the web console provisioning screen there is an option to select software RAID1, so this feature already seems supportable at a platform level.

We cannot find the same option within the Terraform provider or via API.

https://github.com/vultr/terraform-provider-vultr/blob/master/vultr/resource_vultr_bare_metal_server.go#L125

There is a variable for "disk" that defaults to "true" but after pro

[2022-08-31 23:16] grant-veepshosting opened #289 "Reverse DNS Entries do not accept the instance-id for Bare Metal"
Create a bare metal instance, and try to use the resulting instance-id as an input variable for the resource "vultr_reverse_ipv6" or "vultr_reverse_ipv4".
Both return the error │ Error: error creating reverse IPv4: {"error":"Invalid instance-id.","status":404}

Code we used, for reference: https://github.com/Veeps-Hosting/terraform-terragrunt-vultr/blob/main/bare_metal/main.tf#L39

Example output

[2022-09-01 13:23] optik-aper commented on #288
Thanks for the report.  [Currently](https://www.vultr.com/api/#operation/create-baremetal) the API doesn't support the multi-disk options but we'll look at what it'll take to add.  At that point we can include it in the terraform provider as well.

[2022-10-03 22:49] apparentlymart commented on #271
Hello! I'm one of the folks who works on Terraform Core. I ended up here after following a link from a community question about normalizing the IP addresses in this provider!

In case it's useful: the Terraform provider protocol includes a mechanism to handle this sort of situation where there are multiple equally-valid ways to write the same information. The different Terraform provider developme

[2022-10-04 13:21] optik-aper commented on #271
@apparentlymart Thank you for the helpful information!  I'll look to test this out and hopefully implement the normalized IPs in the next release.

[2022-11-07 09:31] dR3b opened #295 "[BUG] - DNS create record priority error"
**Describe the bug**
After creating a DNS (cname) record, Terraform displays a priority error:
[code]
**Error:**
[code]
**Terraform:**
[code]
**Plugin: Vultr:**
[code]

[2022-11-07 16:02] optik-aper commented on #295
Thanks for the report.  There's a default value set on the API controller which we'll need to account for in the provider I think.  It seems like all DNS records have this value defaulting to -1 unless it's required (for MX and SRV records).

[2022-11-18 14:28] fhisamoto opened #299 "[Feature] - vke cluster upgrade without force replacement"
Given I have created a cluster. When I chose to upgrade the vke version, the upgrade should not force replacement of my cluster. The cluster upgrade should be in-place, as is done by the web interface.

[2022-11-21 17:07] optik-aper commented on #299
Thanks for the report.  We'll look into supporting this functionality soon.

[2022-11-23 02:28] 5ampl3 opened #300 "[BUG] - vultr_instance_ipv4.reboot does not seem to serve intended purpose"
**Describe the bug**
From what I can tell vultr_instance_ipv4.reboot argument does not satisfy whatever back end processes are needed within Vultr to utilize the additional ipv4 address on the resulting instance/ipv4 resource pair. That or documentation does not provide enough background/example to utilize properly.

**To Reproduce**
[code]

**Expected behavior**
I would not expect to have to eith